Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[sonic-bgpcfgd] replace yaml.load() and exit() (#14989)
  src/sonic-bgpcfgd/bgpcfgd/utils.py
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
  src/sonic-bgpcfgd/tests/util.py
Due: azure-pipelines.yml

[mgmt-framework] Fix rest-server startup script (#14979)
  dockers/docker-sonic-mgmt-framework/rest-server.sh
Due: azure-pipelines.yml

[202211][yang] Extend device_metadata yang model with rack_mgmt_map (#15141)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Due: azure-pipelines.yml

[minigraph] Add rack_mgmt_rack parse support in minigraph.py (#15064)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Due: azure-pipelines.yml

[Build] Fix the reproducible build variable display error in the slave container (#14543)
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Remove saiserverv2 build in official build. (#15191)
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15192)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Enable reproducible build for arm64 and armhf. (#15190)
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Refine test job definition and assert logic (#14961)
  azure-pipelines.yml
Due: azure-pipelines.yml

Refine test job definition and assert logic (#14959)
  azure-pipelines.yml
Due: azure-pipelines.yml

Refine testbedv2 template output (#14460)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Mellanox] Update SAI to 2211.24.0.21 and SDK/FW to 4.5.5142/2010_5144 (#15072)
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[Mellanox] Use sysfs for sfp reset/LPM/presence (#14130)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15201)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Remove debian mirror timestamp from sonic slave base tag (#15189)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[CI][doc][build] Trim script and sonic-slave-* folders files trailing blanks (#15161)
  scripts/build_debian_base_system.sh
  scripts/build_kvm_image.sh
  scripts/collect_build_version_files.sh
  scripts/collect_docker_version_files.sh
  scripts/collect_host_image_version_files.sh
  scripts/populate_file_web_server.py
  scripts/prepare_debian_image_buildinfo.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/prepare_slave_container_buildinfo.sh
  scripts/secure_boot_signature_verification.sh
  scripts/signing_kernel_modules.sh
  scripts/signing_secure_boot_dev.sh
  scripts/versions_manager.py
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Celestica] Optimize Silverstone led init process (#14852)
  device/celestica/x86_64-cel_silverstone-r0/led_proc_init.soc
Due: azure-pipelines.yml

[armhf][Nokia-7215]Add HWSKU files for new SAI (#15146)
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini.inband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini.noinband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/profile.ini
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/profile.ini.inband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/profile.ini.noinband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/sai.profile
Due: azure-pipelines.yml

[YANG] Add MgmtLeafRouter to Device Neighbor Metadata element type list (#15202)
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Due: azure-pipelines.yml

[Mellanox] Add Copyright Headers for missing files (#15136)
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai_2700_44x50g_10x100g.xml
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/sai_4700_8x200g_8x100g_96x25g.xml
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/sai_4700_32x100g_48x200g.xml
  platform/mellanox/docker-syncd-mlnx/platform_syncd_dump.sh
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/test_filehandler.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Due: azure-pipelines.yml

Fix error handling when failing to install a deb package (#11846) (#15087)
  slave.mk
Due: azure-pipelines.yml

[ci] Enable kvm test when upgrading package versions. (#15018)
  .azure-pipelines/vstest-exclude
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Mellanox] Update SAI to 2211.24.0.21 and SDK/FW to 4.5.5142/2010_5144 (#15072) (#15214)
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[Mellanox] Use sysfs for sfp reset/LPM/presence (#14130) (#15215)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Due: azure-pipelines.yml

[202305]add branch info for gitmodules (#15213)
  .gitmodules
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
