Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

Add yang model definition for VOQ_INBAND_INTERFACE (#12306)
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/voq-inband-interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/voq-inband-interface.json
  src/sonic-yang-models/yang-models/sonic-voq-inband-interface.yang
Due: azure-pipelines.yml

Add 36 port 400g SKU for x86_64-arista_7800r3a_36d series of Linecards. (#11872)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D-D36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36DM2-D36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36P-P36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36D2-D36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36DM2-D36
Due: azure-pipelines.yml

[device/delta] Mitigation for command injection vulnerability (#11865)
  device/delta/x86_64-delta_ag5648-r0/plugins/psuutil.py
  device/delta/x86_64-delta_ag9032v1-r0/plugins/psuutil.py
  device/delta/x86_64-delta_ag9032v2a-r0/plugins/psuutil.py
  device/delta/x86_64-delta_ag9064-r0/plugins/psuutil.py
  device/delta/x86_64-delta_agc032-r0/plugins/psuutil.py
  device/delta/x86_64-delta_et-c032if-r0/plugins/psuutil.py
Due: azure-pipelines.yml

[action] Add code scan for python
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix
  .github/workflows/codeql-analysis.yml
Due: none

REVERT
  .github/workflows/codeql-analysis.yml
Due: none

TEST
  .github/workflows/codeql-analysis.yml
Due: none

[ci/build]: Upgrade SONiC package versions (#12390)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

fix
  .github/codeql/codeql-config.yml
Due: none

[ci/build]: Upgrade SONiC package versions (#12407)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[inventec] Replace os.system and remove subprocess with shell=True (#12108)
  platform/broadcom/sonic-platform-modules-inventec/common/utils/asic_monitor.py
  platform/broadcom/sonic-platform-modules-inventec/common/utils/led_proc.py
  platform/broadcom/sonic-platform-modules-inventec/common/utils/platform_status.py
  platform/broadcom/sonic-platform-modules-inventec/common/utils/transceiver_monitor.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/qsfp.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/utils/inventec_d6332_util.py
  platform/broadcom/sonic-platform-modules-inventec/d6356/sonic_platform/qsfp.py
  platform/broadcom/sonic-platform-modules-inventec/d6356/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-inventec/d7054q28b/sonic_platform/sfp.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12409)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox]Adding SKU Mellanox-SN2700-D44C10 (#12396)
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai_2700_44x50g_10x100g.xml
Due: azure-pipelines.yml

add Restapi Yang model (#12379)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/restapi.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/restapi.json
  src/sonic-yang-models/yang-models/sonic-restapi.yang
Due: azure-pipelines.yml

[201911][Mellanox] Adding SKU Mellanox-SN2700-D44C10 (#12395)
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai_2700_44x50g_10x100g.xml
Due: azure-pipelines.yml

Fix dhcp option buffer issue (#12033) (#12385)
  src/isc-dhcp/patch/0013-Fix-dhcrelay-agent-option-buffer-pointer-logic.patch
  src/isc-dhcp/patch/series
Due: azure-pipelines.yml

[ntp][apparmor] Allow apparmor read permission for ntpd under rw mount path of rootfs (#6040)
  build_debian.sh
  files/image_config/ntp/ntp-apparmor
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12417)
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12418)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[FRR] import FRR patch: zebra: Note when the netlink DUMP command is interrupted (#12412)
  src/sonic-frr/patch/0010-zebra-Note-when-the-netlink-DUMP-command-is-interrup.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

[yang]Update port yang model, change MTU range to [68,9216] (#12223)
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Due: azure-pipelines.yml

Add k8s master table yang model (#12331)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/kubernetes_master.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/kubernetes_master.json
  src/sonic-yang-models/yang-models/sonic-kubernetes_master.yang
Due: azure-pipelines.yml

Add 36 port 100g sku for x86_64-arista_7800r3a_36d series of linecards. (#11813)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36DM2-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36P-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36D2-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36DM2-C36
Due: azure-pipelines.yml

[pmon] Add smartmontools to pmon docker (#11837)
  dockers/docker-platform-monitor/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  rules/smartmontools.dep
  rules/smartmontools.mk
Due: azure-pipelines.yml

Updated BRCM SAI to version 7.1.10.4 (#12423)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[docker-sonic-mgmt] Cleanup and upgrade some packages (#12218)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: azure-pipelines.yml

[action] Add debug info for automerge github action. (#12389)
  .github/workflows/automerge.yml
Due: none

[ci] Update docker sonic slave pipeline to build slave base docker (#11908) (#12405)
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12422)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster-armhf
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3-all-arm64
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] [SKU] Mellanox-SN4700-V48C32 SKU added (#12250)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/sai_4700_32x100g_48x200g.xml
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12437)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Updated config files to disable DLR_INIT capability (#12401)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
Due: azure-pipelines.yml

[Arista] Fix content of platform.json for DCS-7050CX3-32S (#12082)
  device/arista/x86_64-arista_7050cx3_32s/platform.json
  device/arista/x86_64-arista_7050cx3_32s/platform_components.json
Due: azure-pipelines.yml

Pick up fixes and make up BRCM SAI version to 4.3.7.1-3 (#12439)
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Remove PYTHON_THRIFT_0_14_1 (#12169)
  rules/thrift_0_14_1.mk
Due: azure-pipelines.yml
