Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[SFP] Change logging severity when failed to read EEPROM (#13010)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: azure-pipelines.yml

[202205][Mellanox] change the implementation of is_host() to fix a stuck issue on simx platform (#13101)
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Due: azure-pipelines.yml

[Mellanox] change the implementation of is_host() to fix a stuck issue on simx platform (#13100)
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Due: azure-pipelines.yml

[SFP] Change logging severity when failed to read EEPROM (#13011)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: azure-pipelines.yml

[build] Fix unexpected warnings: No names found, cannot describe anything. (#12963)
  slave.mk
Due: azure-pipelines.yml

[action] Keep 'request for xxx branch' label when finished auto-cherry-pick. (#13107)
  .github/workflows/pr_cherrypick_poststep.yml
Due: none

[DellEMC] Fixing 'show interface status' break in DellEMC platforms (#13021)
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/component.py
Due: azure-pipelines.yml

[Edgecore][device/accton] Fix subprocess.call issue in is_host(). (#13111)
  device/accton/x86_64-accton_as4630_54pe-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as4630_54te-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as7312_54x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as7816_64x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as9726_32d-r0/sonic_platform/helper.py
Due: azure-pipelines.yml

[build] Fix issue between reproducible build and dood. (#11084) (#12845) (#13120)
  scripts/collect_docker_version_files.sh
Due: azure-pipelines.yml

[build] Add retry when make SONiC image to improve success rate. (#12325)
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Fix unexpected warnings: No names found, cannot describe anything. (#12963) (#13134)
  slave.mk
Due: azure-pipelines.yml

[Nokia][device-data] Rename the port name in the port_config.ini and also remove ECN setting in the BCM config file (#13053)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13147)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13146)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Add retry when make SONiC image to improve success rate. (#12325) (#13128)
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Add retry when make SONiC image to improve success rate. (#12325) (#13129)
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Add retry when make SONiC image to improve success rate. (#12325) (#13131)
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Add retry when make SONiC image to improve success rate. (#12325) (#13132)
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13159)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13161)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202205][Submodule][SAI-Redis]Advance SAI Redis head pointer (#13156)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

[202211][Submodule][SAI-Redis]Advance SAI Redis head pointer (#13158)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13168)
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-stretch/versions-py2
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13169)
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13170)
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Add branch tag on sonic-slave-bullseye image. (#13151)
  .azure-pipelines/docker-sonic-slave-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[dhcp_relay]Fix the clear dhcp6relay_counters CLI (#13148)
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
Due: azure-pipelines.yml

[swss/syncd] remove dependency on interfaces-config.service (#13084)
  files/build_templates/per_namespace/swss.service.j2
  files/build_templates/per_namespace/syncd.service.j2
Due: azure-pipelines.yml

[build][Bug]: Fix the command set_reproducible_mirrors not found issue (#10398) (#13173)
  scripts/prepare_slave_container_buildinfo.sh
Due: azure-pipelines.yml

[202012][Submodule][SAI-Redis]Advance SAI Redis head pointer (#13157)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177)
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[build] Adjust teamd and radv features configuration according to the compilation options. (#13139)
  files/build_templates/init_cfg.json.j2
  slave.mk
Due: azure-pipelines.yml

[Build] Fix libyang build broken issue (#13162)
  files/build_templates/sonic_debian_extension.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
