Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[dhcp_relay] Enable DHCP Relay for BmcMgmtToRRouter in init_cfg (#12648)
  files/build_templates/init_cfg.json.j2
Due: azure-pipelines.yml

[Mellanox] Add Sensor conf to support respined platforms(SN3700/SN3700C/SN4600C) (#11553)
  device/mellanox/x86_64-mlnx_msn3700-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn3700-r0/sensors_respin.conf
  device/mellanox/x86_64-mlnx_msn3700-r0/sensors_swb_respin.conf
  device/mellanox/x86_64-mlnx_msn3700c-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn3700c-r0/sensors_respin.conf
  device/mellanox/x86_64-mlnx_msn3700c-r0/sensors_swb_respin.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors_respin.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors_respin.conf.a1
Due: azure-pipelines.yml

[master][TestbedV2] Migrate multi-asic test jobs to TestbedV2. (#12668)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[BFN] Stop PMON before swss during warm reboot (#12658)
  rules/docker-platform-monitor.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12676)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12656)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[arp_update]: Fix hardcoded vlan (#12566)
  files/scripts/arp_update
Due: azure-pipelines.yml

Update BRCM SAI version to 7.1.21.4 (#12680)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[202205][TestbedV2] Add dualtor test jobs using TestbedV2. (#12673)
  azure-pipelines.yml
Due: azure-pipelines.yml

Make determine-reboot-cause.service into a oneshot service (#12628)
  src/sonic-host-services-data/debian/sonic-host-services-data.determine-reboot-cause.service
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12690)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12691)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Revert "[SAI PTF]Syncd-rpc and PTF docker support sai ptf v2 (#11610)" (#12677)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
  dockers/docker-ptf-sai/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  platform/vs/docker-ptf-sai.mk
  platform/vs/docker-ptf.mk
  platform/vs/libsaithrift-dev.mk
  rules/syncd.mk
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Add YANG model for alpm parity error (#12687)
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-syncd.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-syncd.json
  src/sonic-yang-models/yang-models/sonic-events-syncd.yang
Due: azure-pipelines.yml

Add rsyslog plugin regex for select operation failure (#12659)
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/dhcp_relay_regex.json
  dockers/docker-dhcp-relay/events_info.json
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/events_info.json
  dockers/docker-orchagent/swss_regex.json
  files/build_templates/events_info.json
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/syncd_regex.json
  rules/docker-dhcp-relay.mk
  rules/docker-orchagent.mk
Due: azure-pipelines.yml

[chassis-packet] fix the issue of internal ip arp not getting resolved. (#12127)
  files/scripts/arp_update
Due: azure-pipelines.yml

[docker-fpm-frr]: Add unified-split mode to routing config (#11938)
  dockers/docker-fpm-frr/docker_init.sh
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Due: azure-pipelines.yml

[arista] [chassis] Add psu/thermal info in platform.json for sup (#12667)
  device/arista/x86_64-arista_7800_sup/platform.json
Due: azure-pipelines.yml

[Mellanox] Add new thermal sensors for SN5600 (#12671)
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
Due: azure-pipelines.yml

Initialize pointer variable platform before use in get_num_of_asic (#12351)
  src/systemd-sonic-generator/systemd-sonic-generator.c
Due: azure-pipelines.yml

Added libpci and pciutils to the pmon docker (#12684)
  dockers/docker-platform-monitor/Dockerfile.j2
Due: azure-pipelines.yml

Remove LOGLEVEL DB since is no longer used (#12657)
  platform/vs/docker-sonic-vs/database_config.json
  src/sonic-config-engine/tests/mock_tables/asic0/database_config.json
  src/sonic-config-engine/tests/mock_tables/asic1/database_config.json
  src/sonic-config-engine/tests/mock_tables/asic2/database_config.json
  src/sonic-config-engine/tests/mock_tables/asic3/database_config.json
  src/sonic-config-engine/tests/mock_tables/database_config.json
  src/sonic-eventd/tests/redis_multi_db_ut_config/database_config.json
  src/sonic-eventd/tests/redis_multi_db_ut_config/database_config0.json
  src/sonic-eventd/tests/redis_multi_db_ut_config/database_config1.json
  src/sonic-py-common/sonic_py_common/sonic_db_dump_load.py
Due: azure-pipelines.yml

[Arista] Add pcie.yaml to 7280CR3-32D4 variants (#12700)
  device/arista/x86_64-arista_7280cr3_32d4/pcie.yaml
  device/arista/x86_64-arista_7280cr3_32d4/platform_asic
  device/arista/x86_64-arista_7280cr3_32p4/pcie.yaml
  device/arista/x86_64-arista_7280cr3mk_32d4/pcie.yaml
  device/arista/x86_64-arista_7280cr3mk_32d4/platform_asic
  device/arista/x86_64-arista_7280cr3mk_32p4/pcie.yaml
  device/arista/x86_64-arista_7280cr3mk_32p4/platform_asic
Due: azure-pipelines.yml

Update Linux kernel from 5.10.103 to 5.10.140 (#12660)
  build_debian.sh
  installer/default_platform.conf
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell-armhf/platform.conf
  rules/linux-kernel.mk
  src/sonic-py-common/tests/device_info_test.py
Due: azure-pipelines.yml

[202012] Clear /etc/resolv.conf before building image (#12686)
  build_debian.sh
  files/image_config/resolv-config/resolv.conf
Due: azure-pipelines.yml

[Build] Update SLAVE_BASE_TAG and DPKG cache if Debian mirrors were changed (#12702)
  Makefile.cache
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add lacp_key as auto in portchannel configuration when parsing minigraph (#12694)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

[Arista] Remove pcie device monitoring for 7260CX3-64 (#12654)
  device/arista/x86_64-arista_7260cx3_64/pcie.yaml
Due: azure-pipelines.yml

Added Support to runtime render bgp and teamd feature state and lldp has_asic_scope flag (#11796)
  files/build_templates/init_cfg.json.j2
  files/scripts/swss.sh
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/feature.json
  src/sonic-yang-models/yang-models/sonic-feature.yang
Due: azure-pipelines.yml

Add support for static route expiry (#12712)
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

[202012][TestbedV2] Add dualtor test jobs using TestbedV2. (#12672)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml
