Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[Arista 720DT] Create SKU alias Arista-720DT-G48S4 (#12905)
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-G48S4
Due: azure-pipelines.yml

[armhf][sonic-installer] Fix issue of the sonic-installer install a image after sonic-installer clean (#12609)
  platform/marvell-armhf/platform.conf
Due: azure-pipelines.yml

[TestbedV2][master] Remove timeout in each step. (#12915)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[centec][arm64] support multi-platform device tree (#12846)
  platform/centec-arm64/platform.conf
  platform/centec-arm64/sonic_fit.its
Due: azure-pipelines.yml

[submodule]Update SAI SDK URL from package storage to public (#12835)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[build][arm64] fix debian source for arm64 bullseye docker image (#12778)
  scripts/prepare_docker_buildinfo.sh
Due: azure-pipelines.yml

[centec][arm64] fix tsingma bsp compile error (#12774)
  platform/centec-arm64/tsingma-bsp/src/ctc_wdt/ctc_wdt.c
Due: azure-pipelines.yml

[build][arm64] disable p4rt compile on arm64 for bazel not work (#12798)
  slave.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12925)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[SAI-PTF][202211]enable sai-ptf logger in sai_adapter to log all the sai api invcations
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

Improve feature mode switch process (#12188) (#12919)
  src/sonic-ctrmgrd/.gitignore
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

Add ECMP calculator tool (#12482)
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc_sdk.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/packet_scheme.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Due: azure-pipelines.yml

Fix code irregular issues (#12595) (#12934)
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
Due: azure-pipelines.yml

[TestbedV2][202012]Remove timeout in each step. (#12916)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[SAI-PTF][202205]enable sai-ptf logger in sai_adapter to log all the sai api … (#12923)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

enable sai-ptf logger in sai_adapter to log all the sai api invcations (#12922)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

[SAI-PTF][202211]enable sai-ptf logger in sai_adapter to log all the sai api invcations (#12933)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

[TestbedV2][202205] Remove timeout in each step. (#12917)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[centec][arm64] fix tsingma bsp compile error (#12774) (#12944)
  platform/centec-arm64/tsingma-bsp/src/ctc_wdt/ctc_wdt.c
Due: azure-pipelines.yml

Seastone: fix platform fan psu and temperature issues (#12567)
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
Due: azure-pipelines.yml

[Platform/Seastone]: fix syseeprom tlv read issue (#12200)
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12886)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[dockers] save extension dockers with an image tag (#12829) (#12947)
  slave.mk
Due: azure-pipelines.yml

[TestbedV2][202211]Sync pipeline in 202211 branch with master. (#12942)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[TestbedV2][202205]Set all jobs mandatory in pipeline. (#12939)
  azure-pipelines.yml
Due: azure-pipelines.yml

[TestbedV2][master]Set all jobs mandatory in pipeline. (#12938)
  azure-pipelines.yml
Due: azure-pipelines.yml

fix thrift 014 makefile (#12935)
  src/thrift_0_14_1/Makefile
Due: azure-pipelines.yml

[BFN] Update BFN sdk to SAI 1.11.0 (#12945)
  platform/barefoot/bfn-platform.mk
  platform/barefoot/bfn-sai.mk
Due: azure-pipelines.yml

[swss.sh] optimize macsec feature state query (#12946)
  files/scripts/swss.sh
Due: azure-pipelines.yml

Limit reload BCM SDK kmods on syncd start to PikeZ platform (#12971)
  files/scripts/syncd.sh
Due: azure-pipelines.yml
