Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[github]: update codeowner from Azure teams to sonic-net teams (#13243)
  .github/CODEOWNERS
Due: none

[Centec arm64] Solve the abnormal console speed of centec-arm64 switch board (#13126)
  files/image_config/platform/rc.local
Due: azure-pipelines.yml

]pmon]: Import requests libraries for Ragile platform (#13171)
  dockers/docker-platform-monitor/Dockerfile.j2
Due: azure-pipelines.yml

[action] Keep 'request for xxx branch' label when finished auto-cherry-pick. (#13107)
  .github/workflows/pr_cherrypick_poststep.yml
Due: none

Add ECMP calculator tool (#12482) (#13301)
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc_sdk.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/packet_scheme.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Due: azure-pipelines.yml

Improve the display of pipeline. (#13123)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Fix docker-sonic-slave pipeline template build options. (#13290)
  .azure-pipelines/docker-sonic-slave-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

The FAN driver framework module complies with s3ip sysfs specification (#12888) (#13212)
  platform/s3ip-sysfs/s3ip_sysfs_frame/fan_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/fan_sysfs.h
Due: azure-pipelines.yml

Revert "[202205] [Mellanox] Update SAI to v2205.23.1.0 and SDK/FW to v4.5.4116/v2010.4116 (#13197)" (#13299)
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[hostcfgd] Optimize the hostcfgs by moving the definition cmds into the loop to optimize the enable/disable service command run. (#13064)
  src/sonic-host-services/scripts/hostcfgd
Due: azure-pipelines.yml

During build time mask only those feature/services that are disabled excplicitly (#13283) (#13296)
  files/build_scripts/mask_disabled_services.py
Due: azure-pipelines.yml

Fix code issue when SonicV2Connector.get() return None. (#13250)
  device/alphanetworks/x86_64-alphanetworks_snh60a0_320fv2-r0/plugins/led_control.py
  device/alphanetworks/x86_64-alphanetworks_snh60b0_640f-r0/plugins/led_control.py
Due: azure-pipelines.yml

sonic-host-services: Pin deepdiff to version 6.2.2 (#13310)
  src/sonic-host-services/setup.py
Due: azure-pipelines.yml

[build] Add environment when using dpkg hook to avoid lock loop. (#13150)
  build_debian.sh
  src/sonic-build-hooks/hooks/dpkg
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add k8s support feature set and Add platform label for scheduler usage (#12997)
  Makefile.work
  build_debian.sh
  rules/config
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update ECN settings for storage backend (#12855)
  device/common/profiles/td2/gen/BALANCED/qos.json.j2
  device/common/profiles/td2/gen/RDMA-CENTRIC/qos.json.j2
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050-t0-storage-backend.json
Due: azure-pipelines.yml

Update docker-sonic-mgmt to buster (#13287)
  .azure-pipelines/docker-sonic-mgmt.yml
  rules/docker-sonic-mgmt.mk
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Skip the leftover hardware reboot cause in case of last boot is warm/fast reboot (#13246)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Due: azure-pipelines.yml

[Bug] Fix SONiC installation failure caused by pip/pip3 not found (#13284)
  files/image_config/platform/rc.local
Due: azure-pipelines.yml

[Dash] Fix a typo (#13325)
  src/sonic-yang-models/yang-models/sonic-dash.yang
Due: azure-pipelines.yml

SONiC YANG model for RADIUS. (#12749)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/radius.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/radius.json
  src/sonic-yang-models/yang-models/sonic-system-radius.yang
Due: azure-pipelines.yml

[build] Fix isc-dhcp full version in rules.mk (#13288) (#13339)
  rules/isc-dhcp.mk
Due: azure-pipelines.yml

[build] Fix sonic-host-services dependency deepdiff version issue (#13329)
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Fix sonic-host-services dependency deepdiff version issue (#13335)
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Fix sonic-host-services dependency deepdiff version issue (#13334)
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Fix sonic-host-services dependency deepdiff version issue (#13337)
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[DellEMC] Master: S6100: SSD upgrade status: Moving from smartctl to iSMART (#12784)
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_ssd_upgrade_status.sh
Due: azure-pipelines.yml

[armhf][sonic-installer] Fix issue of the sonic-installer install a image after sonic-installer clean (#12609)
  platform/marvell-armhf/platform.conf
Due: azure-pipelines.yml

Seastone add platform capability enhancement config (#13079)
  device/celestica/x86_64-cel_seastone-r0/platform.json
Due: azure-pipelines.yml

[Arista]: Add hwSku Arista-7260CX3-D108C10 (#13242)
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/sai.profile
Due: azure-pipelines.yml

Add k8s support feature set and Add platform label for scheduler usage (#12997) (#13351)
  Makefile.work
  build_debian.sh
  rules/config
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
