Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[DNS] yang model for static DNS (#13834)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dns.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dns.json
  src/sonic-yang-models/yang-models/sonic-dns.yang
Due: azure-pipelines.yml

[Mellanox] Non upstream patches for hw-mgmt V.4.0020.4104 (#13792)
  platform/mellanox/non-upstream-patches/patches.tar.gz
Due: azure-pipelines.yml

[202012] [Mellanox] Fix issue: SFP eeprom corrupted after replacing cable with different sfp type (#13543)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13881)
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13880)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Support per PSU slope value for PSU power threshold (#13757)
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Due: azure-pipelines.yml

[Mellanox] Advance hw-mgmt to v.7.0020.4104 (#13372)
  device/mellanox/x86_64-mlnx_msn2010-r0/platform.json
  device/mellanox/x86_64-mlnx_msn2100-r0/platform.json
  device/mellanox/x86_64-mlnx_msn2410-r0/platform.json
  device/mellanox/x86_64-mlnx_msn2700-r0/platform.json
  device/mellanox/x86_64-nvidia_sn2201-r0/platform.json
  platform/mellanox/hw-management.mk
  platform/mellanox/hw-management/0001-Make-SONiC-determine-reboot-cause-service-start-afte.patch
  platform/mellanox/hw-management/0002-Disable-hw-mgmt-on-SimX-platforms.patch
  platform/mellanox/hw-management/0003-Remove-unused-non-upstream-kernel-modules-from-load.patch
  platform/mellanox/hw-management/0004-Make-system-health-service-starts-after-hw-managemen.patch
Due: azure-pipelines.yml

[ci] Kill hanged docker build process to avoid build timeout issue. (#13726) (#13730)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/cleanup.yml
  .azure-pipelines/template-daemon.yml
  .azure-pipelines/template-variables.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Kill hanged docker build process to avoid build timeout issue. (#13726) (#13731)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/cleanup.yml
  .azure-pipelines/template-daemon.yml
  .azure-pipelines/template-variables.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Kill hanged docker build process to avoid build timeout issue. (#13726) (#13728)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/cleanup.yml
  .azure-pipelines/template-daemon.yml
  .azure-pipelines/template-variables.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Add PYTHON3_SWSSCOMMON as build time dependency to Mellanox platform API (#13847)
  platform/mellanox/mlnx-platform-api.mk
Due: azure-pipelines.yml

[systemd-sonic-generator] Fix overlapping strings being passed to strcpy/strcat (#13647) (#13891)
  src/systemd-sonic-generator/systemd-sonic-generator.c
Due: azure-pipelines.yml

[Build] Clean up the debian preference config file (#13885)
  src/sonic-build-hooks/scripts/post_run_cleanup
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Clean up the debian preference config file (#13886)
  src/sonic-build-hooks/scripts/post_run_buildinfo
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Fix issue: cannot find label port for logical port when logical port number is larger than 64 (#13710)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Due: azure-pipelines.yml

[Mellanox] [ECMP calculator] Add support for 4600/4600C/2201 platforms with different interface naming method (#13814)
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Due: azure-pipelines.yml

[Arista] update sensors.conf to ignore sensors (#12529)
  device/arista/x86_64-arista_7050_qx32s/sensors.conf
  device/arista/x86_64-arista_7050cx3_32s/sensors.conf
  device/arista/x86_64-arista_7060_cx32s/sensors.conf
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13893)
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Clean up the debian preference config file (#13887)
  src/sonic-build-hooks/scripts/post_run_buildinfo
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13883)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

cherry-picked snmp sonic-yang file from 2bb8306d8e20d798f89535eff9ab57f6f5b2e177 (#13896)
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/snmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/snmp.json
  src/sonic-yang-models/yang-models/sonic-snmp.yang
Due: azure-pipelines.yml

build: add an env var to run make reset unattended (#13821)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Check system eeprom existence in a retry manner (#13884)
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/tests/test_eeprom.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
Due: azure-pipelines.yml

Add PYTHON3_SWSSCOMMON as build time dependency to Mellanox platform API (#13847) (#13905)
  platform/mellanox/mlnx-platform-api.mk
Due: azure-pipelines.yml

[Chassis][multiasic] Fix the sonic-db-cli core files issue on multiasic platform after the c++ implementation of sonic-db-cli (#13207)
  files/build_templates/docker_image_ctl.j2
Due: azure-pipelines.yml

Voq Chassis: Add the Recirc ports to the INTERFACES table to make it routed intf (#13779)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

[dockerd] Force usage of cgo DNS resolver (#13649)
  files/docker/docker.service.conf
Due: azure-pipelines.yml

[Build] Support j2 template for debian sources for docker ptf (#13198)
  dockers/docker-ptf/Dockerfile.j2
  scripts/prepare_docker_buildinfo.sh
Due: azure-pipelines.yml

[Arista] Disable ATA NCQ for a few products (#13739)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

[Build] Remove the additional space character in the mirrors.list file (#13812) (#13904)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Use tmpfs for /var/log on Arista 7050CX3-32S (#13805) (#13843)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

set cable length of backplane ports to 1m (#13279)
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/multi_npu_data/buffers.json.j2
  src/sonic-config-engine/tests/multi_npu_data/buffers_defaults_t2.j2
  src/sonic-config-engine/tests/sample-chassis-packet-lc-port-config.ini
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

Added libpci and pciutils to the pmon docker (#12684)
  dockers/docker-platform-monitor/Dockerfile.j2
Due: azure-pipelines.yml

[Build] Change the default mirror version config file (#13786) (#13903)
  Makefile.work
  scripts/build_mirror_config.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml
