Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Update cisco-8000.ini (#15078)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

[Nokia][device-data] Modify the Nokia-7250IXRE platform specific reboot script (#14568)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/89-net-by-driver.link
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_reboot
Due: azure-pipelines.yml

[Marvell] Update armhf sai debian (#15096)
  platform/marvell-armhf/sai.mk
Due: azure-pipelines.yml

Revert "[swss/syncd] remove dependency on interfaces-config.service (#13084) (#14341)" (#15094)
  files/build_templates/per_namespace/swss.service.j2
  files/build_templates/per_namespace/syncd.service.j2
Due: azure-pipelines.yml

[action] Only add 'automerge' label on master version upgrade PR. (#15112)
  .github/workflows/label.yml
Due: none

[arp_update] Resolve neighbors from config_db (#15006)
  files/scripts/arp_update
Due: azure-pipelines.yml

Install ptf afpacket module required by ptf_nn_agent. (#14503)
  platform/broadcom/docker-syncd-brcm-dnx-rpc/Dockerfile.j2
Due: azure-pipelines.yml

[S6100] Improve S6100 serial-getty monitor, wait and re-check when getty not running to avoid false alert. (#14402) (#15032)
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/check-getty.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Due: azure-pipelines.yml

Add override_config to load_minigraph in config-setup service (#14834) (#15097)
  files/Aboot/boot0.j2
  files/image_config/config-setup/config-setup
  files/image_config/platform/rc.local
  files/image_config/secureboot/allowlist_paths.conf
Due: azure-pipelines.yml

Enable 400G to 100G/40G speed change via minigraph for all platforms (#14736) (#15079)
  src/sonic-config-engine/minigraph.py
Due: azure-pipelines.yml

Add soc property sai_pfc_dlr_init_capability=0 to missing DNX SKUs (#15098)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Due: azure-pipelines.yml

[armhf][Nokia-7215] changes fstrim.timer to daily (#14723) (#15125)
  platform/marvell-armhf/sonic-platform-nokia/7215/service/fstrim.timer/timer-override.conf
  platform/marvell-armhf/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
Due: azure-pipelines.yml

Resolve neighbors from config_db (#14990)
  files/scripts/arp_update
Due: azure-pipelines.yml

[macsec]: show macsec: add --profile option, include profile name in show command output (#13940) (#15127)
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  dockers/docker-macsec/cli-plugin-tests/test_show_macsec.py
  dockers/docker-macsec/cli/show/plugins/show_macsec.py
Due: azure-pipelines.yml

[armhf][Nokia-7215] changes fstrim.timer to daily (#14723) (#15126)
  platform/marvell-armhf/sonic-platform-nokia/7215/service/fstrim.timer/timer-override.conf
  platform/marvell-armhf/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
Due: azure-pipelines.yml

[arp_update] Resolve neighbors from config_db (#15006) (#15124)
  files/scripts/arp_update
Due: azure-pipelines.yml

[macsec]: show macsec: add --profile option, include profile name in show command output (#13940)
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  dockers/docker-macsec/cli-plugin-tests/test_show_macsec.py
  dockers/docker-macsec/cli/show/plugins/show_macsec.py
Due: azure-pipelines.yml

[Sys Mon] Fix the service entry delete in state_db because of timer job (#14702)
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[bgp/TSA]: Fixed the internal peer route-map policy (#14804)
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/param_chasiss_packet.json
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_chasiss_packet.conf
Due: azure-pipelines.yml

[Build][201911] Fix the stretch/jessie mirror removed issue (#15083)
  build_debian.sh
  dockers/docker-base/sources.list
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/no-check-valid-until
  dockers/docker-ptf/sources.list.amd64
  dockers/docker-ptf/sources.list.arm64
  dockers/docker-ptf/sources.list.armhf
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/image_config/apt/sources.list.d/amd64/debian_archive_trafficmanager_net_debian.list
  files/image_config/apt/sources.list.d/arm64/debian_mirror_arm64.list
  files/image_config/apt/sources.list.d/armhf/debian_mirror_armhf.list
  sonic-slave-stretch/Dockerfile.j2
  src/hiredis/Makefile
  src/iptables/Makefile
  src/kdump-tools/Makefile
  src/lldpd/Makefile
  src/lm-sensors/Makefile
  src/mpdecimal/Makefile
  src/redis/Makefile
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build]: Force xz as compression type when building sonic-build-hooks debs (#12823)
  src/sonic-build-hooks/Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Support pulling sonic-slave-docker image from path at REGISTRY_SERVER (#14907)
  Makefile.work
  rules/config
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Enable kvm test when upgrading package versions. (#15111)
  .azure-pipelines/vstest-exclude
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
