Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[Arista] Update hwsku.json for Arista-7050QX-32S-S4Q31 (#15251) (#15672)
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/hwsku.json
  device/arista/x86_64-arista_7050_qx32s/platform.json
Due: azure-pipelines.yml

[chassis][lldp] Fix the lldp error log in host instance which doesn't contain front panel ports (#14814) (#15669)
  dockers/docker-lldp/lldpmgrd
  src/sonic-py-common/sonic_py_common/device_info.py
Due: azure-pipelines.yml

[Arista] Update hwsku.json for Arista-7050QX-32S-S4Q31 (#15251) (#15671)
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/hwsku.json
  device/arista/x86_64-arista_7050_qx32s/platform.json
Due: azure-pipelines.yml

[mlnx-ffb.sh] Update issu-version location (#14925) (#15673)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-ffb.sh
Due: azure-pipelines.yml

[arp_update]: Fix IPv6 neighbor race condition (#15583)
  files/scripts/arp_update
Due: azure-pipelines.yml

CherryPick PR#15212 to 202205 (#15662)
  src/system-health/health_checker/sysmonitor.py
Due: azure-pipelines.yml

[arp_update]: Fix IPv6 neighbor race condition (#15583) (#15693)
  files/scripts/arp_update
Due: azure-pipelines.yml

[arp_update]: Fix IPv6 neighbor race condition (#15583) (#15694)
  files/scripts/arp_update
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15647)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202012][mlnx-ffb.sh] Update issu-version location (#14927)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-ffb.sh
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15706)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update cisco-8000.ini (#15644)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

Add YANG model for FABRIC_PORT (#15629)
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_yang_data.json
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/fabric_port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fabric_port.json
  src/sonic-yang-models/yang-models/sonic-fabric-port.yang
Due: azure-pipelines.yml

[202012] Fix caclmgrd crash issue when applying scale cacl rules (#15630)
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/cacl_external_client_acl_test.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_scale_test.py
  src/sonic-host-services/tests/caclmgrd/test_scale_vectors.py
  src/sonic-host-services/tests/common/mock_configdb.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15715)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[dash-api]: Add dash-api and related protobuf library (#14515)
  .azure-pipelines/azure-pipelines-build-ubuntu-2004.yml
  .gitmodules
  rules/protobuf.dep
  rules/protobuf.mk
  rules/sonic-dash-api.dep
  rules/sonic-dash-api.mk
  rules/swss.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/protobuf/Makefile
  src/sonic-dash-api/.gitignore
  src/sonic-dash-api/Makefile
  src/sonic-dash-api/debian/changelog
  src/sonic-dash-api/debian/compat
  src/sonic-dash-api/debian/control
  src/sonic-dash-api/debian/rules
  src/sonic-dash-api/pypkg/__init__.py
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Revert "[gearbox] use credo sai v0.9.0 (#14149)" (#15708)
  platform/components/docker-gbsyncd-credo.mk
Due: azure-pipelines.yml

Use execle instead of popen in tacas nss to avoid shell escape exploits (#15284)
  src/tacacs/nss/patch/0011-Replace-popen-shell-execution-with-safer-execle.patch
  src/tacacs/nss/patch/series
Due: azure-pipelines.yml

Move k8s script to docker-config-engine (#14788)
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  files/build_templates/docker_image_ctl.j2
  files/build_templates/sonic_debian_extension.j2
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/docker-dhcp-relay.mk
  rules/docker-lldp.mk
  rules/docker-platform-monitor.mk
  rules/docker-router-advertiser.mk
  rules/docker-snmp.mk
  rules/docker-telemetry.mk
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
Due: azure-pipelines.yml

[Mellanox] Facilitate automatic integration of sdk kernel patches (#14652) (#15732)
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/sdk_kernel_patches.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
  platform/mellanox/integration-scripts/tests/test_sdkaction.py
  platform/mellanox/sdk-src/sx-kernel/Makefile
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

Update the docker daemon to 24.0.2 (#15652)
  build_debian.sh
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Add Copyright Headers for missing files (#15136) (#15733)
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai_2700_44x50g_10x100g.xml
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/sai_4700_8x200g_8x100g_96x25g.xml
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/sai_4700_32x100g_48x200g.xml
  platform/mellanox/docker-syncd-mlnx/platform_syncd_dump.sh
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/test_filehandler.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Due: azure-pipelines.yml

[FRR]Fixing the advertisement of static ipv6 route (#15688)
  src/sonic-frr/patch/0030-zebra-Static-routes-async-notification-do-not-need-t.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml
