Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

updated internal route policy for chassis-packet (#15349) (#15378)
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v4.json
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v6.json
Due: azure-pipelines.yml

Added change to add 'peerType' as element in NEIGH_STATE_TABLE. (#15265) (#15380)
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
Due: azure-pipelines.yml

Added change to add 'peerType' as element in NEIGH_STATE_TABLE. (#15265) (#15381)
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
Due: azure-pipelines.yml

[ci] Add marvell-arm64 build in PR checks. (#15356)
  azure-pipelines.yml
Due: azure-pipelines.yml

[ci] Add OVERRIDE_BUILD_OPTIONS in image build template. (#15309) (#15341)
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Add OVERRIDE_BUILD_OPTIONS in image build template. (#15309) (#15340)
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[202012][BGP] starting BGP service after swss (#15365)
  files/build_templates/per_namespace/bgp.service.j2
Due: azure-pipelines.yml

[Mellanox] Added patchwork link to commit message (#15301)
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/Patch_Status_Table.txt
  platform/mellanox/integration-scripts/tests/data/expected_data/series
  platform/mellanox/integration-scripts/tests/data/expected_data/series.patch
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Due: azure-pipelines.yml

set the default value for the port fec to RS on J2 based LC (#15346)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
Due: azure-pipelines.yml

Revert "Add watchdog mechanism to swss service and generate alert when swss have issue. (#14686)" (#15390)
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-orchagent/supervisord.conf.j2
  dockers/docker-orchagent/watchdog_processes.j2
  files/scripts/supervisor-proc-exit-listener
Due: azure-pipelines.yml

teamd: Add support for custom retry counts for LACP sessions (#13453)
  src/libteam/patch/0015-add-support-for-custom-retry.patch
  src/libteam/patch/0016-block-retry-count-changes.patch
  src/libteam/patch/series
Due: azure-pipelines.yml

[sflow]Delay starting sflow service until ports are created (#15333)
  files/build_templates/init_cfg.json.j2
  files/build_templates/sflow.service.j2
Due: azure-pipelines.yml

[Mellanox] add PSU fan direction support (#14508)
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan_drawer.py
  platform/mellanox/mlnx-platform-api/tests/test_fan_api.py
Due: azure-pipelines.yml

Cherrypick to 202211 [Mellanox] Add patch commit-id mapping to description #15416
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/Patch_Status_Table.txt
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Due: azure-pipelines.yml

allow docker_inram to kernel cmd list (#15374)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

[system-health] Add fan direction check for system health (#14509)
  src/system-health/health_checker/hardware_checker.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[Mellanox] Update SN5600 sensors.conf and pcie.yaml files (#14883)
  device/mellanox/x86_64-nvidia_sn5600-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5600-r0/sensors.conf
Due: azure-pipelines.yml

[Mellanox] Update SN5600 SAI XML file (#14947)
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai_5600.xml
Due: azure-pipelines.yml

updated internal route policy for chassis-packet (#15349)
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v4.json
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v6.json
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15345)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15427)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15428)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202211][config reload]Config Reload Enhancement (#15334)
  files/build_templates/init_cfg.json.j2
  files/build_templates/mgmt-framework.timer
  files/build_templates/per_namespace/lldp.timer.j2
  files/build_templates/pmon.timer
  files/build_templates/snmp.service.j2
  files/build_templates/snmp.timer
  files/build_templates/sonic-delayed.target
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/telemetry.timer
  files/scripts/swss.sh
  slave.mk
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/feature.json
  src/sonic-yang-models/yang-models/sonic-feature.yang
Due: azure-pipelines.yml

[sonic-frr]: Checkout gracefully if branch exists already. (#8289) (#15434)
  src/sonic-frr/Makefile
Due: azure-pipelines.yml
