Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[action] Fix PR pre-cherry-pick action wrong author issue. (#12339)
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[build] Fix dpkg front lock issue with apt-get (#12332)
  src/sonic-build-hooks/hooks/dpkg
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

fixed nokia platform m0 asic mismatch (#12148)
  device/nokia/armhf-nokia_ixs7215_52x-r0/platform_asic
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12355)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Replace eval (#12103)
  device/common/pddf/plugins/fanutil.py
Due: azure-pipelines.yml

[Yang model] add Restapi yang file (#12287)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/restapi.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/restapi.json
  src/sonic-yang-models/yang-models/sonic-restapi.yang
Due: azure-pipelines.yml

[Nokia] Update Nokia platform IXR7250E device data (#11611)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_components.template
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_ndk.json
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/platform.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/platform_components.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_ndk.json
Due: azure-pipelines.yml

Remove swsssdk from sonic OS image and docker container image (#12323)
  files/build_templates/sonic_debian_extension.j2
  platform/vs/docker-sonic-vs.mk
  slave.mk
Due: azure-pipelines.yml

[Build] Fix the build unstalbe issue caused by the kvm not ready (#12180) (#12354)
  scripts/build_kvm_image.sh
Due: azure-pipelines.yml

[DHCP_RELAY] Updated wait_for_intf.sh to wait for ipv6 global and link local addr (#12273)
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  src/sonic-config-engine/tests/dhcp-relay-sample.json
  src/sonic-config-engine/tests/sample_output/py2/wait_for_intf.sh
  src/sonic-config-engine/tests/sample_output/py3/wait_for_intf.sh
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[201904] Change submodule path from Azure to sonic-net (#12320)
  .gitmodules
  files/image_config/environment/motd
Due: azure-pipelines.yml

[201803] Change submodule path from Azure to sonic-net (#12318)
  .gitmodules
  files/image_config/environment/motd
Due: azure-pipelines.yml

[201811] Change submodule path from Azure to sonic-net (#12314)
  .gitmodules
  files/image_config/environment/motd
Due: azure-pipelines.yml

[201911] Change submodule path from Azure to sonic-net (#12313)
  .gitmodules
  files/image_config/environment/motd
  platform/vs/sonic-gns3a.sh
Due: azure-pipelines.yml

[201807] Change submodule path from Azure to sonic-net (#12319)
  .gitmodules
  files/image_config/environment/motd
Due: azure-pipelines.yml

[201712] Change submodule path from Azure to sonic-net (#12317)
  .gitmodules
  files/image_config/environment/motd
Due: azure-pipelines.yml

[201709] Change submodule path from Azure to sonic-net (#12316)
  .gitmodules
  files/image_config/environment/motd
Due: azure-pipelines.yml

Revert "[Yang model] add Restapi yang file (#12287)" (#12374)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/restapi.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/restapi.json
  src/sonic-yang-models/yang-models/sonic-restapi.yang
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12372)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build][Bug] Fix apt-get remove version not lock issue (#12193)
  src/sonic-build-hooks/hooks/apt-get
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build][Bug] Fix apt-get remove version not lock issue (#12193) (#12352)
  src/sonic-build-hooks/hooks/apt-get
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Use absolute template file path in docker-sonic-slave pipeline. (#12153) (#12345)
  .azure-pipelines/docker-sonic-slave-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12368)
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202012] [Mellanox] [SKU] Mellanox-SN4700-A96C8V8 SKU added (#12151)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/sai_4700_8x200g_8x100g_96x25g.xml
Due: azure-pipelines.yml

[202012] [Mellanox] [SKU] Mellanox-SN4700-V48C32 SKU added (#12150)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/sai_4700_32x100g_48x200g.xml
Due: azure-pipelines.yml

Fixes the exit status of slave build. (#12369)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202006] Change submodule path from Azure to sonic-net (#12315)
  .gitmodules
  files/image_config/environment/motd
  platform/vs/sonic-gns3a.sh
Due: azure-pipelines.yml

[202012] Change submodule path from Azure to sonic-net (#12312)
  .gitmodules
  files/image_config/environment/motd
  platform/vs/sonic-gns3a.sh
  src/sonic-host-services-data/README.md
Due: azure-pipelines.yml

[202106] Change submodule path from Azure to sonic-net (#12311)
  .gitmodules
  files/image_config/environment/motd
  platform/vs/sonic-gns3a.sh
  src/sonic-host-services-data/README.md
Due: azure-pipelines.yml

[BGP] starting BGP service after swss (#12381)
  files/build_templates/per_namespace/bgp.service.j2
Due: azure-pipelines.yml

[sonic-mpls-tc-map.yang]: yang model for mpls_tc_to_tc_map table. (#12176)
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mpls_tc_to_tc_map.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mpls_tc_to_tc_map.json
  src/sonic-yang-models/yang-models/sonic-mpls-tc-map.yang
Due: azure-pipelines.yml

[sonic-dhcp-server.yang]: yang model for dhcp_server table. (#12175)
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dhcp_server.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcp_server.json
  src/sonic-yang-models/yang-models/sonic-dhcp-server.yang
Due: azure-pipelines.yml
