Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

update cisco 8000 tag: 202205-v0.6 (#12580)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

Add a parameter for libsaithrift to skip error on errno -2 (#12581)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

[openssh] Export remote address to environment variable for TACACS authorization. (#12447)
  src/openssh/patch/0003-Export-remote-info-for-authorization.patch
  src/openssh/patch/series
Due: azure-pipelines.yml

[openssh]: Restore behavior of ClientAliveCountMax=0 (#12549) (#12591)
  build_debian.sh
  rules/sonic-fips.mk
  src/openssh/patch/0002-Revert-commit-69334996-make-sshd_config-ClientAliveC.patch
  src/openssh/patch/series
Due: azure-pipelines.yml

Allow TSA on ibgp sessions between linecards on packet chassis (#12589)
  dockers/docker-fpm-frr/TS
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
Due: azure-pipelines.yml

[Mellanox] Use sdk sysfs instead of ethtool (#12480)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/input_platform/cmis_page0
  platform/mellanox/mlnx-platform-api/tests/input_platform/sff8472_page0
  platform/mellanox/mlnx-platform-api/tests/input_platform/sff8636_page0
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Due: azure-pipelines.yml

[202205][multi-asic] Fix the issue where if dest port is not specified in ACL rule than caclmgrd gets exception (#12577)
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/cacl_external_client_acl_test.py
  src/sonic-host-services/tests/caclmgrd/test_external_client_acl_vectors.py
Due: azure-pipelines.yml

[build_debian.sh] Configure sshd to listen for IPv6 connections (#7719)
  build_debian.sh
Due: azure-pipelines.yml

[201811][DX010] enable LPM (#12598)
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t0.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t1.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/th-seastone-dx010-48x50G+8x100G.config.bcm
Due: azure-pipelines.yml

Add lossy scheduler for queue 7 (#12596)
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050cx3-dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-t1.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64.json
Due: azure-pipelines.yml

[ci] Upload the debian packages (#12582)
  .azure-pipelines/trigger-publish-artifacts-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Fix the pddf_custom_wdt driver rarely reports kernel dump issue while reboot in belgite platform (#12322)
  platform/broadcom/sonic-platform-modules-cel/belgite/modules/pddf_custom_wdt.c
Due: azure-pipelines.yml

[sonic-py-common] Remove subprocess with shell=True (#12562)
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Due: azure-pipelines.yml

Replace os.system and remove subprocess with shell=True (#12177)
  dockers/docker-lldp/lldpmgrd
  dockers/docker-nat/restore_nat_entries.py
  files/image_config/corefile_uploader/core_uploader.py
  files/image_config/monit/memory_checker
  files/image_config/monit/restart_service
  files/scripts/mark_dhcp_packet.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12606)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Innovium] Backport platform fixes from master (#12526)
  platform/innovium/docker-syncd-invm-rpc.mk
  platform/innovium/docker-syncd-invm-rpc/Dockerfile.j2
  platform/innovium/docker-syncd-invm.mk
  platform/innovium/docker-syncd-invm/Dockerfile.j2
  platform/innovium/docker-syncd-invm/supervisord.conf
  platform/innovium/invm-sai.mk
  platform/innovium/rules.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12604)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12612)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Celestica] Add Celestica Silverstone-X platform deb dependency files (#12158)
  device/celestica/x86_64-cel_silverstone-x-r0/sonic_platform/thermal.py
  platform/innovium/sonic-platform-modules-cel/debian/platform-modules-silverstone-x.init
  platform/innovium/sonic-platform-modules-cel/debian/platform-modules-silverstone-x.install
  platform/innovium/sonic-platform-modules-cel/debian/platform-modules-silverstone-x.postinst
Due: azure-pipelines.yml

Revert "[sonic-config-engine] Replace os.system, replace yaml.load, remove subprocess with shell=True (#12533)" (#12616)
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_cfggen_pfx_filter.py
  src/sonic-config-engine/tests/test_cfggen_platformJson.py
  src/sonic-config-engine/tests/test_cfggen_t2_chassis_fe.py
  src/sonic-config-engine/tests/test_frr.py
  src/sonic-config-engine/tests/test_j2files.py
  src/sonic-config-engine/tests/test_j2files_t2_chassis_fe.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

[Build] Fix the docker-sync not found issue (#12593)
  slave.mk
Due: azure-pipelines.yml

Fix code irregular issues (#12595)
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
Due: azure-pipelines.yml

Add a parameter for libsaithrift to skip error on errno -2 (#12581) (#12617)
  platform/broadcom/libsaithrift-dev.mk
Due: azure-pipelines.yml

[TestbedV2] Add dualtor test using TestbedV2. (#12601)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[SAI PTF]Syncd-rpc and PTF docker support sai ptf v2 (#11610)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
  dockers/docker-ptf-sai/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  platform/vs/docker-ptf-sai.mk
  platform/vs/docker-ptf.mk
  platform/vs/libsaithrift-dev.mk
  rules/syncd.mk
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[BFN] Fixed FANs indexing for multi-drawer case (#12491)
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/fan.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/fan_drawer.py
Due: azure-pipelines.yml

Add YANG model and unit tests for additional structured events (#12554)
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-dhcp-relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-host.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-dhcp-relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-host.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-dhcp-relay.yang
  src/sonic-yang-models/yang-models/sonic-events-host.yang
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Due: azure-pipelines.yml

Publish additional events (#12563)
  files/build_templates/dhcp_relay_regex.json
  files/image_config/monit/memory_checker
  files/scripts/supervisor-proc-exit-listener
  src/system-health/health_checker/service_checker.py
Due: azure-pipelines.yml

[arp_update]: Fix hardcoded vlan (#12566)
  files/scripts/arp_update
Due: azure-pipelines.yml

[201911] Add dhcp6relay as dhcprelay submodule (#12052)
  .gitmodules
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/critical_processes
  dockers/docker-dhcp-relay/dhcp-relay.monitors.j2
  dockers/docker-dhcp-relay/dhcp-relay.programs.j2
  dockers/docker-dhcp-relay/dhcpv4-relay.agents.j2
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-dhcp-relay/start.sh
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  rules/dhcprelay.mk
  rules/docker-dhcp-relay.mk
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/wait_for_intf.sh
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[chassis][Arista] add supervisor to the platform_env.conf (#12615)
  device/arista/x86_64-arista_7800_sup/platform_env.conf
Due: azure-pipelines.yml

[Mellanox] [Platform API] Update SN2201 dynamic minimum fan speed table (#12602)
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
Due: azure-pipelines.yml
