Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[build]: Fix docker load image tag not being the expected tag (#12959)
  slave.mk
Due: azure-pipelines.yml

Add genl packet to sonic-buildimage (#13032)
  .gitmodules
  rules/sonic-genl-packet-ko.mk
  rules/sonic-genl-packet-tools.dep
  rules/sonic-genl-packet-tools.mk
  rules/sonic-libgenl-packet.dep
  rules/sonic-libgenl-packet.mk
Due: azure-pipelines.yml

Keep custom rsyslog file for docker-sonic-vs (#13056)
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-sonic-vs/etc/rsyslog.conf
  rules/docker-swss-layer-bullseye.mk
Due: azure-pipelines.yml

[Mellanox] Update ECMP calculator README (#13051)
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
Due: azure-pipelines.yml

Add aggregate port_config.ini for Wolverine SKU (#12951)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/port_config.ini
Due: azure-pipelines.yml

[Build] Fix the docker image docker-dhcp-relay:latest not found issue (#13048)
  slave.mk
Due: azure-pipelines.yml

[doc]: Improve README.md
  README.md
Due: azure-pipelines.yml

[doc]: Fix README.md linting issues
  README.md
Due: azure-pipelines.yml

[dualtor] Let T0 delay 10 seconds before sending BGP updates (#12996)
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/test_frr.py
Due: azure-pipelines.yml

Revert "[Arista] Disable pcie checking on x86_64-arista_7050cx3_32s (#12900)"
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
Due: azure-pipelines.yml

[Build] fix md5sum calculation of web packages if transient error (#13013)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

update SAI version to 7.1.28.4 (#13072)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

The CPLD and FPGA driver framework module complies with s3ip sysfs specification (#12891)
  platform/s3ip-sysfs/s3ip_sysfs_frame/cpld_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/fpga_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/cpld_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/fpga_sysfs.h
Due: azure-pipelines.yml

Fix port index for multi-asic (#13042)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/port_config.ini
Due: azure-pipelines.yml

[dualtor] Let T0 delay 10 seconds before sending BGP updates (#13082)
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/test_frr.py
Due: azure-pipelines.yml

Fix port index for multi-asic (#13042) (#13086)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/port_config.ini
Due: azure-pipelines.yml

Revert "[Arista] Disable pcie checking on x86_64-arista_7050cx3_32s (#12900)" (#13085)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
Due: azure-pipelines.yml

DNX(J2/J2c/J2c+): Reserve Non-ECMP Fec Resource for Non-ECMP Route Nexthops/NBR Entries (#13076)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai.profile
Due: azure-pipelines.yml

[caclmgrd][dualtor] add src IP to the SNAT rule for allowing gRPC (#13087)
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/caclmgrd_soc_rules_test.py
  src/sonic-host-services/tests/caclmgrd/test_soc_rules_vectors.py
Due: azure-pipelines.yml

DNX(J2/J2c/J2c+): Reserve Non-ECMP Fec Resource for Non-ECMP Route Nexthops/NBR Entries (#13076) (#13089)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai.profile
Due: azure-pipelines.yml

Fix missing system_ref_core_clock_khz (#12663) (#13074)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13092)
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13093)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13094)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] mount cgroup2 in chroot to fix build on ubuntu 22.04 (#13030)
  files/docker/docker
Due: azure-pipelines.yml

[Arista] Update ip packet checksum when set to 0xffff on 720DT-48S (#13088)
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
Due: azure-pipelines.yml

[pddf]: Adding PDDF common framework enhancements. (#12863)
  platform/pddf/i2c/modules/include/pddf_psu_api.h
  platform/pddf/i2c/modules/include/pddf_psu_driver.h
  platform/pddf/i2c/modules/psu/driver/pddf_psu_api.c
  platform/pddf/i2c/modules/psu/driver/pddf_psu_driver.c
  platform/pddf/i2c/utils/pddfparse.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_fan.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_psu.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_sfp.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_thermal.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddfapi.py
Due: azure-pipelines.yml

[Build] use pigz to speed up a build (#12825)
  Makefile.work
  build_debian.sh
  build_docker.sh
  build_image.sh
  rules/config
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] fix make clean (#12713)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[pddf]: fix Observing the following error while running 'sfputil show lpmode' command. (#12636)
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_sfp.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13095)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13096)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Add retry when make SONiC image to improve success rate. (#12325)
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
