Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[Mellanox] [202211] Replace iproute2 supplied by SDK to iproute2 downloaded from Debian repository (#14726) (#14724)
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/iproute2.dep
  platform/mellanox/iproute2.mk
  platform/mellanox/iproute2/Makefile
  platform/mellanox/iproute2/patch/0001-Remove-arpd-from-iproute2-package.patch
  platform/mellanox/iproute2/patch/0002-Rename-iproute2-debian-package.patch
  platform/mellanox/iproute2/patch/0003-Fix-version-identifier.patch
  platform/mellanox/iproute2/patch/0004-Added-sx_netdev-and-sx_bridge-support-to-iproute2.patch
  platform/mellanox/iproute2/patch/series
  platform/mellanox/rules.mk
  platform/mellanox/sdk-src/iproute2/Makefile
  platform/mellanox/sdk.dep
  platform/mellanox/sdk.mk
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Add copyright header to ECMP calculator files (#14825)
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc_sdk.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/packet_scheme.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Due: azure-pipelines.yml

[Mellanox] Update SN5600 sensors.conf and pcie.yaml files (#14883)
  device/mellanox/x86_64-nvidia_sn5600-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5600-r0/sensors.conf
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14913)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14915)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Added changes for chassis: (#14816)
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/cacl_external_client_acl_test.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_chassis_midplane_test.py
  src/sonic-host-services/tests/caclmgrd/test_chassis_midplane_vectors.py
Due: azure-pipelines.yml

Enable missed cache for local debs (#14794)
  slave.mk
Due: azure-pipelines.yml

[Profiler] Add ability to print elapsed build time for target packages (#14778)
  rules/functions
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14924)
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[armhf][Nokia-7215] changes fstrim.timer to daily (#14723)
  platform/marvell-armhf/sonic-platform-nokia/7215/service/fstrim.timer/timer-override.conf
  platform/marvell-armhf/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
Due: azure-pipelines.yml

Revert "Add load_minigraph option to include traffic-shift-away during config migration (#11403)" (#14881)
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

[build] Fix reproducible build version issue when failed to download web file (#14587) (#14780)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Support pulling sonic-slave-docker image from path at REGISTRY_SERVER (#14907)
  Makefile.work
  rules/config
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Updated default ECN settings for T2 chassis (#14388)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/qos.json.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/qos.json.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/qos.json.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/qos.json.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/qos.json.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/qos.json.j2
  src/sonic-config-engine/tests/sample-arista-7800r3a-36dm2-c36-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-arista-7800r3a-36dm2-d36-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-nokia-ixr7250e-36x100g-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-nokia-ixr7250e-36x400g-t2-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

SONiC Yang model support for IPv6 link local (#14757)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Due: azure-pipelines.yml

Add idle conn duration config to telemetry.sh (#14903)
  dockers/docker-sonic-telemetry/telemetry.sh
Due: azure-pipelines.yml

[yang] Change swss-event, dhcp-relay-event leafref to string (#13326)
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-dhcp-relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-dhcp-relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-dhcp-relay.yang
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
Due: azure-pipelines.yml

[Ci] Support marvell/marvell-arm64 build (#14875)
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[build]: Disable stretch slave container (#12868)
  Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[minigraph.py]: Enable 400G to 100G/40G speed change via minigraph for all platforms (#14736)
  src/sonic-config-engine/minigraph.py
Due: azure-pipelines.yml

[bgp/TSA]: Fixed the internal peer route-map policy (#14804)
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/param_chasiss_packet.json
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_chasiss_packet.conf
Due: azure-pipelines.yml

[sflow] Exception handling for if_nametoindex (#11437) (#14457)
  dockers/docker-sflow/port_index_mapper.py
Due: azure-pipelines.yml

[Mellanox] Facilitate automatic integration of new hw-mgmt (#14594) (#14966)
  platform/mellanox/hw-management/hwmgmt_nonup_patches
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/expected_data/kconfig-exclusions
  platform/mellanox/integration-scripts/tests/data/expected_data/kconfig-inclusions
  platform/mellanox/integration-scripts/tests/data/expected_data/series
  platform/mellanox/integration-scripts/tests/data/expected_data/series.patch
  platform/mellanox/integration-scripts/tests/data/hwmgmt_nonup_patches
  platform/mellanox/integration-scripts/tests/data/kconfig-exclusions
  platform/mellanox/integration-scripts/tests/data/kconfig-inclusions
  platform/mellanox/integration-scripts/tests/data/new_kconfig
  platform/mellanox/integration-scripts/tests/data/new_series
  platform/mellanox/integration-scripts/tests/data/series
  platform/mellanox/integration-scripts/tests/test_filehandler.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
  platform/mellanox/non-upstream-patches/README.md
  platform/mellanox/rules.mk
Due: azure-pipelines.yml

[Mellanox] Fix the hw-mgmt intg tool case sensitivity for KConfig (#14709)
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/tests/test_filehandler.py
Due: azure-pipelines.yml
