Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    variables:
      CACHE_MODE: rcache
      VERSION_CONTROL_OPTIONS: SONIC_VERSION_CONTROL_COMPONENTS=deb,py2,py3,web,git,docker
    jobs:
  ...

Revert "Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)" (#15464)" (#15684)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

Move k8s script to docker-config-engine (#14788) (#15740)
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/docker-dhcp-relay.mk
  rules/docker-lldp.mk
  rules/docker-platform-monitor.mk
  rules/docker-router-advertiser.mk
  rules/docker-snmp.mk
  rules/docker-telemetry.mk
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
Due: azure-pipelines.yml

[staticroutebfd] fix static route uninstall issue when all nexthops are not reachable (#15575)
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt.py
Due: azure-pipelines.yml

Enable BFD for Static Route for chassis-packet. (#15383)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/yang-models/sonic-static-route.yang
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15700)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Revert "Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)" (#15464)" (#15684) (#15745)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

Revert "Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)" (#15464)" (#15684) (#15746)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

Revert "[gearbox] use credo sai v0.9.0 (#14149)" (#15708) (#15751)
  platform/components/docker-gbsyncd-credo.mk
Due: azure-pipelines.yml

Revert "[gearbox] use credo sai v0.9.0 (#14149)" (#15708) (#15752)
  platform/components/docker-gbsyncd-credo.mk
Due: azure-pipelines.yml

Upgrade sonic-fips packages (#15400) (#15750)
  rules/sonic-fips.mk
Due: azure-pipelines.yml

[Mellanox] Added patchwork link to commit message (#15301)
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/Patch_Status_Table.txt
  platform/mellanox/integration-scripts/tests/data/expected_data/series
  platform/mellanox/integration-scripts/tests/data/expected_data/series.patch
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15757)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-swss-layer-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-swss-layer-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202205]Fix caclmgrd crash issue when applying scale cacl rules (#15763)
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/cacl_external_client_acl_test.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_scale_test.py
  src/sonic-host-services/tests/caclmgrd/test_scale_vectors.py
  src/sonic-host-services/tests/common/mock_configdb.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15760)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Refine PR test template format (#15636)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Refine PR test template format (#15637)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Refine PR test template format (#15639)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Refine PR test template (#15640)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Remove DNS configuration from minigraph schema (#15727)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph.xml
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

Move k8s script to docker-config-engine (#14788) (#15767)
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  files/build_templates/docker_image_ctl.j2
  files/build_templates/sonic_debian_extension.j2
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/docker-dhcp-relay.mk
  rules/docker-lldp.mk
  rules/docker-platform-monitor.mk
  rules/docker-router-advertiser.mk
  rules/docker-snmp.mk
  rules/docker-telemetry.mk
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
Due: azure-pipelines.yml

[202012][buildsystem]: Fix hiredis package version: 0.14.1-1. (#15719)
  rules/hiredis.mk
  src/hiredis/Makefile
Due: azure-pipelines.yml

[staticroutebfd] fix ipv6 letter case issue (#15765)
  src/sonic-bgpcfgd/staticroutebfd/main.py
  src/sonic-bgpcfgd/tests/test_static_rt_bfd.py
Due: azure-pipelines.yml

Added ssh configurations to YANG model (#13338)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/ssh-server.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/ssh-server.json
  src/sonic-yang-models/yang-models/sonic-ssh-server.yang
Due: azure-pipelines.yml

Add remote syslog configuration (#14513)
  files/image_config/rsyslog/rsyslog-config.sh
  files/image_config/rsyslog/rsyslog.conf.j2
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/syslog.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/syslog.json
  src/sonic-yang-models/yang-models/sonic-syslog.yang
Due: azure-pipelines.yml

Add Python3 packages to sonic-mgmt-docker (#15726)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: azure-pipelines.yml

[TACACS+]: Extract tacacs support functions into library and fix memory leak issue. (#8659) (#15703)
  src/tacacs/pam/0006-Add-support-for-source-ip-address.patch
  src/tacacs/pam/0007-Fix-memory-leak-when-parse-configuration.patch
  src/tacacs/pam/0008-Extract-tacacs-support-functions-into-library.patch
  src/tacacs/pam/0009-Add-setting-flag-for-authorization-and-accounting.patch
  src/tacacs/pam/0010-handle-bad-password-set-by-sshd.patch
  src/tacacs/pam/Makefile
Due: azure-pipelines.yml

[202012] [TACACS+] Add Config DB schema and HostCfg Enforcer plugin to support TACACS+ per-command authorization&accounting.(#9029) (#15718)
  src/sonic-host-services/pytest.ini
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_tacacs_test.py
  src/sonic-host-services/tests/hostcfgd/sample_output/LOCAL/tacplus_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/RADIUS/tacplus_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/common-auth-sonic
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/login
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/login.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/radius_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/sshd
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/sshd.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_disable_accounting/tacplus_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/common-auth-sonic
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/login
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/login.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/radius_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/sshd
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/sshd.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local/tacplus_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/common-auth-sonic
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/login
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/login.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/radius_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/sshd
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/sshd.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_local_and_tacacs/tacplus_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/common-auth-sonic
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/login
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/login.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/radius_nss.conf
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/sshd
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/sshd.old
  src/sonic-host-services/tests/hostcfgd/sample_output/TACACS_config_db_tacacs/tacplus_nss.conf
  src/sonic-host-services/tests/hostcfgd/test_tacacs_vectors.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/aaa.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/aaa.json
  src/sonic-yang-models/yang-models/sonic-system-aaa.yang
Due: azure-pipelines.yml

Add health check probe for k8s upgrade containers. (#15223)
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/sonic-ctrmgrd.mk
  src/sonic-ctrmgrd/ctrmgr/readiness_probe.sh
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
