Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt-py3-only.yml, .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-mgmt-py3-only.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicbld
      timeoutInMinutes: 360
      steps:
      - template: cleanup.yml
      - checkout: self
        clean: true
      - bash: 'set -xe
  
  ...

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

BGP should delay its startup until the port initialization is complete
  files/build_templates/docker_image_ctl.j2
Due: azure-pipelines.yml

Fix build error
  src/libyang2/Makefile
Due: azure-pipelines.yml

[build] replace sonicstorage.blob.core.windows.net
  dockers/docker-base-buster/Dockerfile.j2
Due: azure-pipelines.yml

[build] replace sonicstorage.blob.core.windows.net
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  files/local_files/libyang2/libyang2_2.0.112-6.debian.tar.xz
  files/local_files/libyang2/libyang2_2.0.112-6.dsc
  files/local_files/libyang2/libyang2_2.0.112.orig.tar.gz
  platform/broadcom/rules.mk
  platform/broadcom/sai.mk
  platform/components/docker-gbsyncd-broncos.mk
  platform/components/docker-gbsyncd-credo.mk
  scripts/build_mirror_config.sh
  sonic-slave-bullseye/Dockerfile.j2
  src/libyang2/Makefile
  src/lldpd/Makefile
  src/snmpd/Makefile
  src/socat/Makefile
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Use package.trafficmanager instead of sonicstorage.blob
  src/thrift/Makefile
Due: azure-pipelines.yml

[build] Use package.trafficmanager instead of sonicstorage.blob
  dockers/docker-sonic-mgmt/Dockerfile.j2
  platform/nephos/rules.mk
  platform/vs/onie.mk
  platform/xsight/onie.mk
  rules/sonic-fips.mk
  src/ixgbe/Makefile
  src/libyang1/Makefile
  src/smartmontools/Makefile
  src/swig/Makefile
Due: .azure-pipelines/docker-sonic-mgmt-py3-only.yml, azure-pipelines.yml

[build] Use package.trafficmanager instead of sonicstorage.blob
  .azure-pipelines/official-build-cisco-8000.yml
  dockers/docker-base-stretch/Dockerfile.j2
  files/build/versions/default/versions-web
  get_docker-base.sh
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Install k8s packages from sonic build storage to mitigate k8s source deprecation issue (#18280) (#18304)
  Makefile.work
  build_debian.sh
  rules/config
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] replace sonicstorage.blob.core.windows.net
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] replace sonicstorage.blob.core.windows.net
  .azure-pipelines/official-build-cisco-8000.yml
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-sonic-mgmt/Dockerfile.j2
  files/build/versions/default/versions-web
  files/local_files/libyang2/libyang2_2.0.112-6.debian.tar.xz
  files/local_files/libyang2/libyang2_2.0.112-6.dsc
  files/local_files/libyang2/libyang2_2.0.112.orig.tar.gz
  get_docker-base.sh
  platform/broadcom/rules.mk
  platform/broadcom/sai.mk
  platform/components/docker-gbsyncd-broncos.mk
  platform/components/docker-gbsyncd-credo.mk
  platform/nephos/rules.mk
  platform/vs/onie.mk
  rules/sonic-fips.mk
  scripts/build_mirror_config.sh
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/ixgbe/Makefile
  src/libyang1/Makefile
  src/libyang2/Makefile
  src/lldpd/Makefile
  src/smartmontools/Makefile
  src/snmpd/Makefile
  src/socat/Makefile
  src/swig/Makefile
  src/thrift/Makefile
Due: .azure-pipelines/docker-sonic-mgmt-py3-only.yml, .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Use package.trafficmanager.net instead of sonicstorage.blob.core.windows.net to Refine Azure resource. (#23256)
  .azure-pipelines/official-build-cisco-8000.yml
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-sonic-mgmt/Dockerfile.j2
  files/build/versions/default/versions-web
  get_docker-base.sh
  platform/broadcom/rules.mk
  platform/broadcom/sai.mk
  platform/components/docker-gbsyncd-broncos.mk
  platform/components/docker-gbsyncd-credo.mk
  platform/nephos/rules.mk
  platform/vs/onie.mk
  rules/sonic-fips.mk
  sonic-slave-bookworm/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/ixgbe/Makefile
  src/libyang1/Makefile
  src/libyang2/Makefile
  src/lldpd/Makefile
  src/snmpd/Makefile
  src/socat/Makefile
  src/swig/Makefile
  src/thrift/Makefile
Due: .azure-pipelines/docker-sonic-mgmt-py3-only.yml, .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

fix url error
  rules/sonic-fips.mk
Due: azure-pipelines.yml

[build] Use package.trafficmanager instead of sonicstorage.blob
  dockers/docker-sonic-mgmt/Dockerfile.j2
  platform/nephos/rules.mk
  platform/vs/onie.mk
  rules/sonic-fips.mk
  src/ixgbe/Makefile
  src/libyang1/Makefile
  src/smartmontools/Makefile
  src/swig/Makefile
  src/thrift/Makefile
Due: .azure-pipelines/docker-sonic-mgmt-py3-only.yml, azure-pipelines.yml

[build] bullseye-backports is invalid for APT::Default-Release
  build_debian.sh
  dockers/docker-base-bullseye/Dockerfile.j2
Due: azure-pipelines.yml

[sfps] Correct SFP specifications defined in platform.json
  device/accton/x86_64-accton_as4625_54p-r0/platform.json
  device/accton/x86_64-accton_as4625_54t-r0/platform.json
  device/accton/x86_64-accton_as4630_54npe-r0/platform.json
  device/accton/x86_64-accton_as4630_54pe-r0/platform.json
  device/accton/x86_64-accton_as4630_54te-r0/platform.json
  device/accton/x86_64-accton_as5835_54t-r0/platform.json
Due: azure-pipelines.yml

[build] update url for bullseye-backports
  scripts/build_mirror_config.sh
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt-py3-only.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
