Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

Update dhcpmon rx/tx packet filtering and fix server rx count (#13898)
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.cpp
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.cpp
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.cpp
Due: azure-pipelines.yml

Add QOS profiles for Arista SKUs (#13829)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/qos.json.j2
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14346)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[dhcp-relay] Add dhcp_relay show cli (#13614) (#14342)
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_config.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcpv6_helper.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Due: azure-pipelines.yml

[yang]: Add Yang model support for adding Channel to PORT table (#14228) (#14338)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Due: azure-pipelines.yml

sonic-buildimage Remove unused SAT port from arista configs. (#14167) (#14333)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14315)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Upgrade docker-sonic-vs and docker-syncd-vs to Bullseye (#13294)
  platform/vs/docker-sonic-vs.mk
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-syncd-vs.mk
  platform/vs/docker-syncd-vs/Dockerfile.j2
  rules/iproute2.mk
  sonic-slave-bullseye/Dockerfile.j2
  src/iproute2/Makefile
  src/iproute2/patch/0001-patch-macsec-xpn-support.patch
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Security] Fix some of vulnerability issue relative python packages (#14269)
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Don't create the members@ array in config_db for PC when reading from minigraph (#13660)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
  src/sonic-yang-mgmt/tests/test_cfghelp.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mclag.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
Due: azure-pipelines.yml

[lldpmgrd] Don't log error message for outdated event (#14178)
  dockers/docker-lldp/lldpmgrd
Due: azure-pipelines.yml

[Arista] Add missing platform_components.json (#14067)
  device/arista/x86_64-arista_720dt_48s/platform_components.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/platform_components.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/platform_components.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/platform_components.json
Due: azure-pipelines.yml

[Buffer] Added cable length config to buffer config template for EdgeZoneAggregator (#14280)
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample-arista-7060-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14354)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-vs/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update dynamic threshold for TD2 (#14224)
  device/common/profiles/td2/gen/BALANCED/pg_profile_lookup.ini
  device/common/profiles/td2/gen/RDMA-CENTRIC/pg_profile_lookup.ini
Due: azure-pipelines.yml

[storage_backend] Add backend acl service (#14229)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/backend_acl/backend-acl.service
  files/image_config/backend_acl/backend_acl.py
Due: azure-pipelines.yml

Fix telemetry.sh passing in null as log level value (#14303)
  dockers/docker-sonic-telemetry/telemetry.sh
Due: azure-pipelines.yml

[Security] Fix some of vulnerability issue relative python packages (#14269) (#14353)
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add AZP agent necessary packages to sonic-mgmt-docker (#14291)
  dockers/docker-sonic-mgmt/Dockerfile.j2
  dockers/docker-sonic-mgmt/start.sh
Due: azure-pipelines.yml

[yang]Updating vxlan yang model to include IPv6 source in VxLAN tunnel (#14363)
  src/sonic-yang-models/tests/yang_model_tests/tests/vxlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vxlan.json
  src/sonic-yang-models/yang-models/sonic-vxlan.yang
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14369)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Fix isc-dhcp full version in rules.mk (#13288) (#14376)
  rules/isc-dhcp.mk
Due: azure-pipelines.yml

[Security] Fix some of vulnerability issue relative python packages (#14269) (#14352)
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14383)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14382)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202205] Clear teamd-timer when finalizing fast-reboot (#14295)
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Due: azure-pipelines.yml

[202205] Remove apt package lists and make macro to clean up apt and python cache (#14377)
  dockers/docker-base-bullseye/Dockerfile.j2
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-database/Dockerfile.j2
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-lldp/Dockerfile.j2
  dockers/docker-macsec/Dockerfile.j2
  dockers/docker-mux/Dockerfile.j2
  dockers/docker-nat/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-router-advertiser/Dockerfile.j2
  dockers/docker-sflow/Dockerfile.j2
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  dockers/docker-sonic-p4rt/Dockerfile.j2
  dockers/docker-sonic-restapi/Dockerfile.j2
  dockers/docker-sonic-telemetry/Dockerfile.j2
  dockers/docker-swss-layer-bullseye/Dockerfile.j2
  dockers/docker-swss-layer-buster/Dockerfile.j2
  dockers/docker-teamd/Dockerfile.j2
  dockers/dockerfile-macros.j2
  platform/broadcom/docker-syncd-brcm-dnx/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/Dockerfile.j2
  platform/components/docker-gbsyncd-broncos/Dockerfile.j2
  platform/components/docker-gbsyncd-credo/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-syncd-vs/Dockerfile.j2
Due: azure-pipelines.yml

[ci] Add syncd target in PR checks to avoid build break. (#14267)
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix the demo_part_size not initialized issue when creating partition (#14296)
  installer/install.sh
Due: azure-pipelines.yml
