Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[qos] Update RDMA-CENTRIC lossy profile to use static threshold for Th devices (#14372)
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t1.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t1.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffers-dell6100.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-dell6100.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[202211] Update sonic-py-common, add missing dependency to redis-dump-load (#14360)
  src/sonic-py-common/setup.py
Due: azure-pipelines.yml

Update sonic-py-common, add missing dependency to redis-dump-load (#14347)
  src/sonic-py-common/setup.py
Due: azure-pipelines.yml

Fix the demo_part_size not initialized issue when creating partition (#14296) (#14394)
  installer/install.sh
Due: azure-pipelines.yml

[202012] [qos] Update RDMA-CENTRIC lossy profile to use static threshold for Th devices (#14398)
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t1.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t1.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffers-dell6100.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-dell6100.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[202205] [qos] Update RDMA-CENTRIC lossy profile to use static threshold for Th devices (#14399)
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t1.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t1.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffers-dell6100.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-dell6100.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

upgrade SAI xgs to 7.1.36.4 (#14289)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[202205] [Mellanox] Fix issue: user must set admin down before toggling LPM (#14370)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Due: azure-pipelines.yml

Fix telemetry.sh passing in null as log level value (#14303) (#14410)
  dockers/docker-sonic-telemetry/telemetry.sh
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14414)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14415)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

use sources.list to calc sonic-slave-user tag (#14409)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

change static rt expiry timer max value (#14397)
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14418)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

change static rt expiry timer max value (#14397) (#14419)
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

[202012] Check config file not empty after modify it in hostcfgd. (#14385)
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/hostcfgd/sample_output/sshd_empty
  src/sonic-host-services/tests/hostcfgd/sample_output/sshd_not_empty
Due: azure-pipelines.yml

[ci] Fix build issue for vs vhdx image. #14424
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Fix build issue for vs vhdx image. #14427
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[celestica/e1031]: enable emc2305 fan controller timeout feature (#14401)
  platform/broadcom/sonic-platform-modules-cel/haliburton/modules/emc2305.c
Due: azure-pipelines.yml

[celestica]: Fix Belgite platform issues (#14036)
  device/celestica/x86_64-cel_belgite-r0/CELESTICA-BELGITE/hwsku.json
  device/celestica/x86_64-cel_belgite-r0/led-source-code/cmicx/custom_led.c
  device/celestica/x86_64-cel_belgite-r0/led_proc_init.soc
  device/celestica/x86_64-cel_belgite-r0/pddf/pd-plugin.json
  device/celestica/x86_64-cel_belgite-r0/pddf/pddf-device.json
  device/celestica/x86_64-cel_belgite-r0/platform.json
  device/celestica/x86_64-cel_belgite-r0/platform_components.json
  device/celestica/x86_64-cel_belgite-r0/plugins/psuutil.py
  device/celestica/x86_64-cel_belgite-r0/plugins/sfputil.py
  device/celestica/x86_64-cel_belgite-r0/pmon_daemon_control.json
  device/celestica/x86_64-cel_belgite-r0/system_health_monitoring_config.json
  platform/broadcom/sonic-platform-modules-cel/belgite/pddf/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-cel/belgite/pddf/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-cel/belgite/pddf/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-cel/belgite/pddf/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-cel/belgite/scripts/pddf_post_device_create.sh
Due: azure-pipelines.yml

[Seastone] DX010 platform switch to sfp-refactor based sfp impl (#13972)
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp_optoe.py
Due: azure-pipelines.yml

[sflow] Exception handling for if_nametoindex (#11437) (#13567)
  dockers/docker-sflow/port_index_mapper.py
Due: azure-pipelines.yml

[Innovium] Innovium build changes for master branch (#13512)
  platform/innovium/docker-syncd-invm-rpc.mk
  platform/innovium/docker-syncd-invm-rpc/Dockerfile.j2
  platform/innovium/docker-syncd-invm.mk
  platform/innovium/docker-syncd-invm/Dockerfile.j2
  platform/innovium/rules.mk
Due: azure-pipelines.yml

Set owner after restoring counters folder during warmboot (#13507)
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Due: azure-pipelines.yml

[Build] Fix marvell-arm64 build redis_dump_load-1.1-py2-none-any.whl fail (#14375)
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Set owner after restoring counters folder during warmboot (#13507) (#14435)
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Due: azure-pipelines.yml

[Build] fix sonic-slave empty build log (#14408)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Improve sudo cat command for RO user. (#14428)
  files/image_config/sudoers/sudoers
Due: azure-pipelines.yml

Always use the openssl backend of curl (#14351)
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Change to use the default ssl lib openssl not nss (#14379)
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Fix the installation candidate not found issue when building docker-sonic-vs (#14439)
  platform/vs/docker-sonic-vs/Dockerfile.j2
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14443)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] don't install rsync if vcache is disabled #14407
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update cisco-8000.ini (#14448)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

Refine testbedv2 pr template (#14371)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
