Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Cherry-pick https://github.com/sonic-net/sonic-host-services/pull/19 into 202205 (#12869)
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/common/mock_configdb.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/hostcfgd/test_vectors.py
Due: azure-pipelines.yml

static route expiry feature support (#12865)
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

Fix error handling when failing to install a deb package (#11846) (#12857)
  slave.mk
Due: azure-pipelines.yml

[action] Add github action to merge mssonicbld's PRs which can be merged (#12564)
  .github/workflows/automerge_scan.yml
Due: none

[device/marvell] Mitigation for security vulnerability (#11876)
  device/marvell/arm64-marvell_db98cx8580_16cd-r0/plugins/sfputil.py
  device/marvell/arm64-marvell_db98cx8580_32cd-r0/plugins/sfputil.py
  device/marvell/armhf-marvell_et6448m_52x-r0/plugins/psuutil.py
  device/marvell/armhf-marvell_et6448m_52x-r0/plugins/sfputil.py
  device/marvell/x86_64-marvell_db98cx8580_16cd-r0/plugins/sfputil.py
  device/marvell/x86_64-marvell_db98cx8580_32cd-r0/plugins/sfputil.py
Due: azure-pipelines.yml

Reload BCM SDK kmods on syncd start to handle syncd restart issues (#12804)
  files/scripts/syncd.sh
Due: azure-pipelines.yml

[202211] add release tag (#12864)
  files/image_config/sonic_release
Due: azure-pipelines.yml

Support passing the instance numbers of a testplan. (#12879)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Support passing the instance numbers of a testplan. (#12880)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Mellanox] Add device files for SN5600 (#12831)
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai_5600.xml
  device/mellanox/x86_64-nvidia_sn5600-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5600-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5600-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5600-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn5600-r0/thermal_policy.json
Due: azure-pipelines.yml

[dockers] save extension dockers with an image tag (#12829)
  slave.mk
Due: azure-pipelines.yml

Update BRCM SAI version to 7.1.25.4 (#12878)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

Support passing the instance numbers of a testplan. (#12881)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Arista] Enable ipv6 128b lpm on 720DT-48S (#12832)
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
Due: azure-pipelines.yml

Update ECN settings for storage backend (#12855)
  device/common/profiles/td2/gen/BALANCED/qos.json.j2
  device/common/profiles/td2/gen/RDMA-CENTRIC/qos.json.j2
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050-t0-storage-backend.json
Due: azure-pipelines.yml

[system-health] Led color shall be controlled by configuration when system is booting (#12487)
  src/system-health/health_checker/config.py
  src/system-health/health_checker/manager.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

Publish docker saiserverv2 in 202211 branch (#12883)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Publish docker saiserverv2 in 202205 branch (#12882)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[SAI-PTF] Publish docker saiserverv2 in master branch (#12842)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[nokia] Replace os.system and remove subprocess with shell=True (#12100)
  device/nokia/armhf-nokia_ixs7215_52x-r0/plugins/eeprom.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/chassis.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/component.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/psu.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp_event.py
Due: azure-pipelines.yml

[202205] Update Linux kernel from 5.10.103 to 5.10.140 (#12660) #12874
  build_debian.sh
  installer/x86_64/install.sh
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell-armhf/platform.conf
  rules/linux-kernel.mk
  src/sonic-py-common/tests/device_info_test.py
Due: azure-pipelines.yml

[build]: Disable stretch slave container (#12868)
  Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[yang] Add collector_vrf to sflow yang model (#12897)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sflow.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sflow.json
  src/sonic-yang-models/yang-models/sonic-sflow.yang
Due: azure-pipelines.yml

Revert "Reload BCM SDK kmods on syncd start to handle syncd restart issues (#12804)"
  files/scripts/syncd.sh
Due: azure-pipelines.yml

02.Version cache - docker cache build framework (#12001)
  Makefile.work
  files/build_templates/build_docker_cache.j2
  scripts/collect_build_version_files.sh
  scripts/collect_docker_version_files.sh
  scripts/collect_host_image_version_files.sh
  scripts/prepare_docker_buildinfo.sh
  slave.mk
  sonic-slave-buster/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/post_run_buildinfo
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[DellEMC] Master: S6100: SSD upgrade status: Moving from smartctl to iSMART (#12784)
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_ssd_upgrade_status.sh
Due: azure-pipelines.yml

Make client indentity by AME cert (#11946) (#12908)
  files/build_templates/sonic_debian_extension.j2
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

Publish docker saiserverv2 in 202012 branch (#12903)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Add 202211 backport option for the PR review template (#12884)
  .github/pull_request_template.md
Due: none

[ci/build]: Upgrade SONiC package versions (#12914)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
