Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

Move /var/log to RAM for Mellanox SN2700, Nokia 7215 and Dell S6100 (#15077)
  device/dell/x86_64-dell_s6100_c2538-r0/installer.conf
  device/mellanox/x86_64-mlnx_msn2700-r0/installer.conf
  device/nokia/armhf-nokia_ixs7215_52x-r0/installer.conf
  platform/marvell-armhf/platform.conf
Due: azure-pipelines.yml

Update cisco-8000.ini (#15620)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

[CI/CD] Refine t0 sonic and remove SPECIFIED_PARAMS (#15625)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine t0 sonic and remove SPECIFIED_PARAMS (#15626)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine t0 sonic and remove SPECIFIED_PARAMS (#15627)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine t0 sonic and remove SPECIFIED_PARAMS (#15628)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[sonic-pit] Add PIT(Platform Integration Test) feature, second part, … (#12530)
  src/sonic-pit/pit-sysdiag/cases/cpu_tc/config.json
  src/sonic-pit/pit-sysdiag/cases/memory_tc/config.json
  src/sonic-pit/pit-sysdiag/cases/oob_tc/config.json
  src/sonic-pit/pit-sysdiag/cases/rtc_tc/config.json
  src/sonic-pit/pit-sysdiag/cases/sensor_tc/config.json
  src/sonic-pit/pit-sysdiag/cases/ssd_tc/config.json
  src/sonic-pit/pit-sysdiag/config/platform/x86_64-alibaba_as14-40d-cl-r0/case_config.json
  src/sonic-pit/pit-sysdiag/config/platform/x86_64-alibaba_as14-40d-cl-r0/platform_config.json
  src/sonic-pit/pit-sysdiag/src/cpu_tc.py
  src/sonic-pit/pit-sysdiag/src/memory_tc.py
  src/sonic-pit/pit-sysdiag/src/oob_tc.py
  src/sonic-pit/pit-sysdiag/src/rtc_tc.py
  src/sonic-pit/pit-sysdiag/src/sensor_tc.py
  src/sonic-pit/pit-sysdiag/src/ssd_tc.py
Due: azure-pipelines.yml

Vnet monitor table cleanup (#15399)
  files/scripts/swss.sh
Due: azure-pipelines.yml

[docker-sonic-vs]: dd NPU SKU for docker-sonic-vs (#15604)
  device/virtual/x86_64-kvm_x86_64-r0/NPU/sai_npu.profile
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-sonic-vs/platform-npu-2p.json
  platform/vs/docker-sonic-vs/start.sh
Due: azure-pipelines.yml

[Ci] Support to build sonic-swss-common for test (#15566)
  azure-pipelines.yml
Due: azure-pipelines.yml

[202205][yang] add Yang model for MUX_LINKMGR|LINK_PROBER (#15384) (#15607)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Due: azure-pipelines.yml

[Ci] Support to build sonic-swss-common for test (#15566) (#15582)
  azure-pipelines.yml
Due: azure-pipelines.yml

[yang] add Yang model for `MUX_LINKMGR|LINK_PROBER` (#15384) (#15608)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15615)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Refine PR test template format (#15638)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[nvidia] make sure shared storage with syncd is cleared on restarts (#14547)
  files/build_templates/docker_image_ctl.j2
  files/build_templates/per_namespace/syncd.service.j2
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/nv-syncd-shared/nv-syncd-shared.service
Due: azure-pipelines.yml

[buildsystem] Fix hiredis package version: 0.14.1-1 (#15461) (#15651)
  rules/hiredis.mk
  src/hiredis/Makefile
Due: azure-pipelines.yml

Revert "[202205] Update Broadcom DNX SAI version to 7.1.50.4 (#15561)" (#15650)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)" (#15464)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

Upgrade sonic-fips packages (#15400)
  rules/sonic-fips.mk
Due: azure-pipelines.yml

[chassis][lldp] Fix the lldp error log in host instance which doesn't contain front panel ports (#14814) (#15603)
  dockers/docker-lldp/lldpmgrd
  src/sonic-py-common/sonic_py_common/device_info.py
Due: azure-pipelines.yml

Fix for issue#14964 (#15212) (#15595)
  src/system-health/health_checker/sysmonitor.py
Due: azure-pipelines.yml

Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)" (#15464) (#15618)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

revert SAI XGS vertion to 7.1.36.4 (#15661)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[Mellanox] Adjust warning threshold implementation according to the latest algorithm update (#15092) (#15665)
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Due: azure-pipelines.yml

[Mellanox] get LED capability from capability file (#14584) (#15664)
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/led.py
  platform/mellanox/mlnx-platform-api/tests/test_led.py
Due: azure-pipelines.yml

Fix issue: systemctl daemon-reload would sporadically cause udev handler fail (#15253)
  build_debian.sh
  files/image_config/systemd/systemd-udevd/fix-udev-rule-may-fail-if-daemon-reload-command-runs.patch
Due: azure-pipelines.yml

Migrate flush_unused_database from py-redis to sonic-swss-common (#15511)
  dockers/docker-database/flush_unused_database
Due: azure-pipelines.yml

[mlnx-ffb.sh] Update issu-version location (#14925) (#15674)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-ffb.sh
Due: azure-pipelines.yml

[chassis][lldp] Fix the lldp error log in host instance which doesn't contain front panel ports (#14814) (#15670)
  dockers/docker-lldp/lldpmgrd
  src/sonic-py-common/sonic_py_common/device_info.py
Due: azure-pipelines.yml
