Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[ci/build]: Upgrade SONiC package versions (#15057)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15060)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Secure Boot] Add Secure Boot Support (#12692) (#14963)
  Makefile.work
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  installer/default_platform.conf
  rules/config
  rules/linux-kernel.dep
  scripts/efi-sign.sh
  scripts/secure_boot_signature_verification.sh
  scripts/signing_kernel_modules.sh
  scripts/signing_secure_boot_dev.sh
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Remove default value from SECURE_UPGRADE_DEV_SIGNING_KEY (#14582) (#15063)
  rules/config
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Add patch commit-id mapping to description (#15052)
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/Patch_Status_Table.txt
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Due: azure-pipelines.yml

Fix issue with prod script not found, change the prod signing to work with flags to align to the dev script (#14580)
  Makefile.work
  build_debian.sh
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Change SECURE_UPGRADE_DEV_SIGNING_CERT to SECURE_UPGRADE_SIGNING_CERT (#14591)
  Makefile.work
  build_debian.sh
  rules/config
  rules/linux-kernel.dep
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Ci] Support marvell/marvell-arm64 build (#14875)
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Fix per-command authorization failed issue when a command with wildcard match more than hundred files. (#14787)
  src/bash/patches/0001-Add-plugin-support-to-bash.patch
Due: azure-pipelines.yml

[Build] update python package docker in host image to 6.1.1 (#14993) (#15050)
  build_debian.sh
Due: azure-pipelines.yml

[Mellanox] add PSU fan direction support (#14508)
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan_drawer.py
  platform/mellanox/mlnx-platform-api/tests/test_fan_api.py
Due: azure-pipelines.yml

YANG model for FABRIC_MONITOR|FABRIC_MONITOR_DATA (#14390)
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_yang_data.json
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/fabric_monitor_data.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fabric_monitor_data.json
  src/sonic-yang-models/yang-models/sonic-fabric-monitor.yang
Due: azure-pipelines.yml

[Mellanox] Support UID LED in platform API (#11592)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/led.py
  platform/mellanox/mlnx-platform-api/tests/test_led.py
Due: azure-pipelines.yml

Add SECURE_UPGRADE_PROD_TOOL_ARGS flag to make it possible for vendors to pass their own arguments on the prod signing script (#14581)
  Makefile.work
  build_debian.sh
  rules/config
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build]: Force xz as compression type when building sonic-build-hooks debs (#12823)
  src/sonic-build-hooks/Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[minigraph-parser] Support ACL interface type BmcData in minigraph parser (#14703)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case-acl-type-bmcdata.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Due: azure-pipelines.yml

[Build][201811] Fix the stretch mirror removed issue (#15082)
  build_debian.sh
  files/apt/sources.list
  files/image_config/apt/sources.list.d/debian_archive_trafficmanager_net_debian.list
  sonic-slave-stretch/Dockerfile
  src/hiredis/Makefile
  src/mpdecimal/Makefile
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add SECURE_UPGRADE_PROD_TOOL_ARGS flag to make it possible for vendors to pass their own arguments on the prod signing script (#14581) (#15095)
  Makefile.work
  build_debian.sh
  rules/config
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Marvell] Update armhf sai debian (#15043)
  platform/marvell-armhf/sai.mk
Due: azure-pipelines.yml

[action] Update github workflows about automerge_scan and pr_cherrypick_prestep. (#15090)
  .github/workflows/automerge_scan.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

Add OVERRIDE_BUILD_OPTIONS options in UpgrateVersion pipeline. (#15088)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
