Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Enable GNMI native write by default (#14845)
  rules/config
Due: azure-pipelines.yml

If gnmi is included, remove dbus from telemetry (#14853)
  rules/docker-telemetry.mk
Due: azure-pipelines.yml

[macsec]: show macsec: add --profile option, include profile name in show command output (#13940)
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  dockers/docker-macsec/cli-plugin-tests/test_show_macsec.py
  dockers/docker-macsec/cli/show/plugins/show_macsec.py
Due: azure-pipelines.yml

[Nokia][device-data] Modify the Nokia-7250IXRE platform specific reboot script (#14568)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/89-net-by-driver.link
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_reboot
Due: azure-pipelines.yml

[Sys Mon] Fix the service entry delete in state_db because of timer job (#14702)
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[chassis/arista]: Increase LAG Ids to 1024 (#10519)
  device/arista/x86_64-arista_7800_sup/chassisdb.conf
Due: azure-pipelines.yml

Changes to support TSA from supervisor (#14691)
  dockers/docker-fpm-frr/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  dockers/docker-fpm-frr/base_image_files/TSC
  files/image_config/config-setup/config-setup
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
Due: azure-pipelines.yml

Changes to support TSA from supervisor (#14691) (#14878)
  dockers/docker-fpm-frr/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  dockers/docker-fpm-frr/base_image_files/TSC
  files/image_config/config-setup/config-setup
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14888)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14889)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14839)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14840)
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14890)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Replace iproute2 supplied by SDK to iproute2 downloaded from Debian repository (#14726)
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/iproute2.dep
  platform/mellanox/iproute2.mk
  platform/mellanox/iproute2/Makefile
  platform/mellanox/iproute2/patch/0001-Remove-arpd-from-iproute2-package.patch
  platform/mellanox/iproute2/patch/0002-Rename-iproute2-debian-package.patch
  platform/mellanox/iproute2/patch/0003-Fix-version-identifier.patch
  platform/mellanox/iproute2/patch/0004-Added-sx_netdev-and-sx_bridge-support-to-iproute2.patch
  platform/mellanox/iproute2/patch/series
  platform/mellanox/rules.mk
  platform/mellanox/sdk-src/iproute2/Makefile
  platform/mellanox/sdk.dep
  platform/mellanox/sdk.mk
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14894)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14893)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14895)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14896)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[sonic-host-services] start host service on mgmt-framework/telemetry (#14517) (#14856)
  src/sonic-host-services-data/debian/sonic-host-services-data.sonic-hostservice.service
Due: azure-pipelines.yml

[build]: Force xz as compression type when building sonic-build-hooks debs (#12823) (#14898)
  src/sonic-build-hooks/Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[devices]: Netberg Aurora 610 reduce kernel module output (#13704)
  platform/barefoot/sonic-platform-modules-netberg/aurora-610/modules/net_swps.c
Due: azure-pipelines.yml

Support a new ACL table type called L3V4V6. (#14803)
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Due: azure-pipelines.yml

[README] Update link for moving docker directory (#14668)
  README.md
Due: azure-pipelines.yml

Revert "Clear DNS configuration received from DHCP during networking reconfiguration in Linux. (#13516) (#13695)" (#14900)
  build_debian.sh
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv.conf
  files/image_config/resolv-config/resolv.conf.head
Due: azure-pipelines.yml

Revert "Clear DNS configuration received from DHCP during networking reconfiguration in Linux. (#13516)" (#14901)
  build_debian.sh
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv.conf
  files/image_config/resolv-config/resolv.conf.head
Due: azure-pipelines.yml

Revert "Clear DNS configuration received from DHCP during networking reconfiguration in Linux. (#13516)" (#14902)
  build_debian.sh
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv.conf
  files/image_config/resolv-config/resolv.conf.head
Due: azure-pipelines.yml

Fix issue with prod script not found, change the prod signing to work with flags to align to the dev script (#14580)
  Makefile.work
  build_debian.sh
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
