Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[ci/build]: Upgrade SONiC package versions (#15529)
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[action] Fix auto merge workflow commit message. (#15450)
  .github/workflows/automerge_scan.yml
Due: none

Upgrade sonic-fips packages (#15400)
  rules/sonic-fips.mk
Due: azure-pipelines.yml

[buildsystem]: Fix hiredis package version: 0.14.0-3. (#15476)
  rules/hiredis.mk
  src/hiredis/Makefile
Due: azure-pipelines.yml

[Build] Remove the additional space character in the mirrors.list file (#13812) (#15475)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Remove the additional space character in the mirrors.list file (#13812) (#15459)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202211][FRR][CVE] Add FRR patches to fix CVEs: CVE-2022-43681 CVE-2022-40318… (#15263)
  src/sonic-frr/patch/0027-bgpd-Ensure-FRR-has-enough-data-to-read-in-peek_for_as4_capability-and-bgp_open_option_parse.patch
  src/sonic-frr/patch/0028-bgpd-Ensure-that-bgp-open-message-stream-has-enough-data-to-read.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

Fix for issue#14964 (#15212)
  src/system-health/health_checker/sysmonitor.py
Due: azure-pipelines.yml

[mux] Integrate `linkmgrd` with swss logger (#15392)
  dockers/docker-mux/supervisord.conf
Due: azure-pipelines.yml

[mux] Integrate `linkmgrd` with swss logger (#15392) (#15539)
  dockers/docker-mux/supervisord.conf
Due: azure-pipelines.yml

[202211][FRR][CVE] Add FRR patches to fix CVEs: CVE-2022-43681 CVE-2022-40318… (#15263) (#15537)
  src/sonic-frr/patch/0027-bgpd-Ensure-FRR-has-enough-data-to-read-in-peek_for_as4_capability-and-bgp_open_option_parse.patch
  src/sonic-frr/patch/0028-bgpd-Ensure-that-bgp-open-message-stream-has-enough-data-to-read.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

[buildsystem] Fix hiredis package version: 0.14.1-1 (#15461)
  rules/hiredis.mk
  src/hiredis/Makefile
Due: azure-pipelines.yml

dx010 fix possible cpld race read issue (#15339)
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/helper.py
Due: azure-pipelines.yml

enable info log for graceful restart events (#15535)
  src/sonic-frr/patch/0029-bgpd-Change-log-level-for-graceful-restart-events.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

Update gnxi ptr (#15562)
  dockers/docker-ptf/Dockerfile.j2
Due: azure-pipelines.yml

[201911][mlnx-ffb.sh] Update issu-version location (#14928)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-ffb.sh
Due: azure-pipelines.yml

[system-health] When disabling a feature the SYSTEM_READY|SYSTEM_STATE was not updated (#15437)
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/mock_connector.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[202205] Update Broadcom DNX SAI version to 7.1.50.4 (#15561)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15525)
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[celestica/e1031]: enable emc2305 fan controller timeout feature (#14401) (#15571)
  platform/broadcom/sonic-platform-modules-cel/haliburton/modules/emc2305.c
Due: azure-pipelines.yml

Update SN5600 platform.json with service port sfp (#15337)
  device/mellanox/x86_64-nvidia_sn5600-r0/platform.json
Due: azure-pipelines.yml
