Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[202205] [Mellanox] Update SAI to v2205.23.1.0 and SDK/FW to v4.5.4116/v2010.4116 (#13197)
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[build] Add environment when using dpkg hook to avoid lock loop. (#13233)
  src/sonic-build-hooks/hooks/dpkg
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177) (#13244)
  .azure-pipelines/docker-sonic-slave.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Improve the display of pipeline. (#13124)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Improve the display of pipeline. (#13125)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Improve the display of pipeline. (#13127)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13249)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Seastone add platform capability enhancement config (#13079)
  device/celestica/x86_64-cel_seastone-r0/platform.json
Due: azure-pipelines.yml

[Arista]: Add hwSku Arista-7260CX3-D108C10 (#13242)
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/sai.profile
Due: azure-pipelines.yml

[202205][DellEMC] Fixing 'show interface status' break in DellEMC platforms porting changes (#13236)
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
Due: azure-pipelines.yml

Fix rsyslog_plugin UT with timestamp formatter (#13241)
  src/sonic-eventd/rsyslog_plugin_tests/rsyslog_plugin_ut.cpp
Due: azure-pipelines.yml

[Chassis][Voq]update to add buffer_queue config on system ports (#12156)
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
Due: azure-pipelines.yml

[Arista] Update ip packet checksum when set to 0xffff on 720DT-48S (#13088)
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
Due: azure-pipelines.yml

[Nokia][device-data] Rename the port name in the port_config.ini and also remove ECN setting in the BCM config file (#13053)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
Due: azure-pipelines.yml

[build] Add environment when using dpkg hook to avoid lock loop. (#13150)
  build_debian.sh
  src/sonic-build-hooks/hooks/dpkg
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[action] Keep 'request for xxx branch' label when finished auto-cherry-pick. (#13107)
  .github/workflows/pr_cherrypick_poststep.yml
Due: none

[device/dell] Mitigation for security vulnerability (#11875)
  device/dell/x86_64-dellemc_n3248pxe_c3338-r0/plugins/fanutil.py
  device/dell/x86_64-dellemc_n3248pxe_c3338-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_n3248te_c3338-r0/plugins/fanutil.py
  device/dell/x86_64-dellemc_n3248te_c3338-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5212f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5224f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5232f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5248f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5296f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9332f_d1508-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9432f_c3758-r0/plugins/fanutil.py
  device/dell/x86_64-dellemc_z9432f_c3758-r0/plugins/psuutil.py
  platform/broadcom/sonic-platform-modules-dell/n3248pxe/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/n3248pxe/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/n3248te/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/n3248te/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/sfp.py
Due: azure-pipelines.yml

[Build] Fix the export variables issue (#13248)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[SAIServer]Upgrade SAI server init script (#13175) (#13227) (#13232)
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/saiserver_start.sh
  platform/broadcom/docker-saiserver-brcm/start.sh
  platform/broadcom/docker-saiserver-brcm/supervisord.conf
Due: azure-pipelines.yml

[SAI-PTF][BFN]Enable saiserver test container on bfn container (#13166)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
  platform/barefoot/docker-saiserver-bfn.mk
  platform/barefoot/docker-saiserver-bfn/Dockerfile
  platform/barefoot/docker-saiserver-bfn/Dockerfile.j2
  platform/barefoot/docker-saiserver-bfn/portmap.ini
  platform/barefoot/docker-saiserver-bfn/profile.ini
  platform/barefoot/docker-saiserver-bfn/ptf_nn_agent.conf
  platform/barefoot/docker-saiserver-bfn/sai_tofino.xml
  platform/barefoot/docker-saiserver-bfn/saiserver_start.sh
  platform/barefoot/docker-saiserver-bfn/start.sh
  platform/barefoot/docker-saiserver-bfn/supervisord.conf
  platform/barefoot/libsaithrift-dev.mk
  platform/barefoot/rules.mk
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Ci] Remove the platform innovium from version auto upgrade pipeline (#13208)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[build] Fix issue between reproducible build and dood. (#11084) (#12845)
  scripts/collect_docker_version_files.sh
Due: azure-pipelines.yml

[201911][mellanox]Fix CPLD upgrade script (#13240)
  platform/mellanox/mlnx-fw-upgrade.j2
Due: azure-pipelines.yml

[dhcpmon] Fix dhcpmon socket filter and tx count issue (#13065)
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_mon.cpp
Due: azure-pipelines.yml

[Nokia-7215] Update Nokia-7215 device data which is required by the new version of Marvell SAI 1.10.2-2 (#13278)
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini.inband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini.noinband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/profile.ini
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/profile.ini.inband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/profile.ini.noinband
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/sai.profile
Due: azure-pipelines.yml

During build time mask only those feature/services that are disabled excplicitly (#13283)
  files/build_scripts/mask_disabled_services.py
Due: azure-pipelines.yml

[build] Fix isc-dhcp full version in rules.mk (#13288)
  rules/isc-dhcp.mk
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
