Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[chassis] add libffi-dev for sonic-utilities (#15218)
  files/build_templates/sonic_debian_extension.j2
Due: azure-pipelines.yml

[Marvell] Update armhf driver version (#15310)
  platform/marvell-armhf/prestera.mk
  platform/marvell-armhf/prestera/debian/rules
Due: azure-pipelines.yml

[brcm] Update SOC properties for DLR_INIT based pfcwd recovery (#15286)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-config-engine/tests/data/j2_template/config.bcm.j2
  src/sonic-config-engine/tests/sample_output/py3/arista7050cx3-dualtor.config.bcm
  src/sonic-config-engine/tests/sample_output/py3/arista7260-dualtor.config.bcm
  src/sonic-config-engine/tests/sample_output/py3/arista7260-t1.config.bcm
Due: azure-pipelines.yml

[bgp]: Add sudo check for TSA/B/C command execution (#15288)
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  dockers/docker-fpm-frr/base_image_files/TSC
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15329)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15330)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[FRR][CVE] Add FRR patches to fix CVEs: CVE-2022-43681 CVE-2022-40318 CVE-2022-40302 (#15262)
  src/sonic-frr/patch/0027-bgpd-Ensure-FRR-has-enough-data-to-read-in-peek_for_as4_capability-and-bgp_open_option_parse.patch
  src/sonic-frr/patch/0028-bgpd-Ensure-that-bgp-open-message-stream-has-enough-data-to-read.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

modify commands using utilities_common.cli.run_command and advance sonic-utilities submodule on master (#15193)
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
  dockers/docker-macsec/cli/clear/plugins/clear_macsec_counter.py
Due: azure-pipelines.yml

[ci] Add OVERRIDE_BUILD_OPTIONS in image build template. (#15309)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Dell FPGA driver fix (#15144)
  platform/broadcom/sonic-platform-modules-dell/common/dell_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/debian/rules
  platform/broadcom/sonic-platform-modules-dell/s5212f/modules/dell_s5212f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/s5224f/modules/dell_s5224f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/s5232f/modules/dell_s5232f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/s5296f/modules/dell_s5296f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/z9264f/modules/dell_z9264f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/z9432f/modules/dell_z9432f_fpga_ocores.c
Due: azure-pipelines.yml

06.Version Cache - Support for wget (#14612)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Nokia-IXR7250E][Devicedata] update the device data for Nokia IXR7250E platform (#15216)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/chassisdb.conf
Due: azure-pipelines.yml

07.Version Cache - Support for PIP (#14613)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Added VNET_MONITOR_TABLE,BFD_SESSION_TABLE,VNET_ROUTE_TUNNEL_TABLE to the list (#14992)
  files/scripts/swss.sh
Due: azure-pipelines.yml

Start BGP after interfaces-config.service (#15312)
  files/build_templates/per_namespace/bgp.service.j2
Due: azure-pipelines.yml

Add watchdog mechanism to swss service and generate alert when swss have issue. (#14686)
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-orchagent/supervisord.conf.j2
  dockers/docker-orchagent/watchdog_processes.j2
  files/scripts/supervisor-proc-exit-listener
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15361)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[sflow] Add egress sflow support. (#14630)
  rules/sflow.mk
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sflow.json
  src/sonic-yang-models/yang-models/sonic-sflow.yang
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15363)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15326)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

updated internal route policy for chassis-packet (#15349)
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v4.json
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/chassis_packet_v6.json
Due: azure-pipelines.yml

[Clock] Add timezone config YANG model (#14651)
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Due: azure-pipelines.yml

fix possible cpld race access issue (#15371)
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/helper.py
Due: azure-pipelines.yml
