Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[sonic-bgpcfgd] Replace getstatusoutput function (#12535)
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
Due: azure-pipelines.yml

[sonic-eventd] Replace subprocess with shell=True (#12536)
  src/sonic-eventd/tools/events_volume_test.py
Due: azure-pipelines.yml

update notify-keyspace-events in redis.conf (#12540)
  dockers/docker-database/Dockerfile.j2
Due: azure-pipelines.yml

Update SDK/FW to version 4.5.3186/2010_3186 (#12531)
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[Mellanox] Update SDK/FW to version 4.5.3186/2010.3186 (#12542)
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[202012] [Mellanox] Read transceiver EEPROM via sdk sysfs (#12399)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12550)
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12552)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[201911] [Systemd] Upgrade systemd to fix timer elapsed issue (#12485)
  build_debian.sh
Due: azure-pipelines.yml

fix DOM support caoability issues on QSFP and CMIS cables (#12500)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: azure-pipelines.yml

[Build] Add the missing debian source bullseye-updates/buster-updates (#12522)
  dockers/docker-base-bullseye/sources.list
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
Due: azure-pipelines.yml

Add a yang model for the new "Logger" table in the CONFIG DB (#12067)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/logger.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/logger.json
  src/sonic-yang-models/yang-models/sonic-logger.yang
Due: azure-pipelines.yml

Update BRCM SAI version to 7.1.17.4 (#12546)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[sonic-config-engine] Replace os.system, replace yaml.load, remove subprocess with shell=True (#12533)
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_cfggen_pfx_filter.py
  src/sonic-config-engine/tests/test_cfggen_platformJson.py
  src/sonic-config-engine/tests/test_cfggen_t2_chassis_fe.py
  src/sonic-config-engine/tests/test_frr.py
  src/sonic-config-engine/tests/test_j2files.py
  src/sonic-config-engine/tests/test_j2files_t2_chassis_fe.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

[sonic-yang-mgmt] Replace subprocess using with shell=True (#12537)
  src/sonic-yang-mgmt/tests/test_cfghelp.py
Due: azure-pipelines.yml

[sonic-ctrmgrd] Replace os.system and remove subprocess with shell=True (#12534)
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgr_iptables.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/tests/ctrmgr_iptables_test.py
Due: azure-pipelines.yml

Added BUILD flags to provision for building the kernel with non-upstream patches (#12428)
  platform/mellanox/non-upstream-patches/README.md
  platform/mellanox/rules.mk
  rules/linux-kernel.mk
  slave.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12556)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[openssh]: Restore behavior of ClientAliveCountMax=0 (#12549)
  build_debian.sh
  rules/sonic-fips.mk
  src/openssh/Makefile
  src/openssh/patch/0002-Revert-commit-69334996-make-sshd_config-ClientAliveC.patch
  src/openssh/patch/series
Due: azure-pipelines.yml

Enable P4RT at build time and disable at startup (#10499)
  files/build_templates/init_cfg.json.j2
  rules/config
  rules/docker-p4rt.mk
  rules/p4rt.mk
  slave.mk
Due: azure-pipelines.yml

[TACACS] Send remote address in TACACS+ authorization message. (#12190)
  src/tacacs/nss/patch/0010-Send-remote-address-in-TACACS-authorization-message.patch
  src/tacacs/nss/patch/series
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12561)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[action] Use pull_request_target trigger instead to avoid codeQL check approval (#12509) (#12541)
  .github/workflows/codeql-analysis.yml
Due: none

[202012][RDMA] create split profiles for Arista-7050CX3-32S (#12478)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/qos.json.j2
Due: azure-pipelines.yml

[Build][Bug] Fix apt-get remove version not lock issue (#12193)
  src/sonic-build-hooks/hooks/apt-get
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12571)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202205][caclmgrd][chassis]: Fix missing acl rules to allow internal docker traffic from fabric namespaces (#11956)
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/caclmgrd_namespace_docker_ip_test.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12574)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster-arm64
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Revert "[Barefoot] Add xon_offset to pg_profile_lookup.ini (#12073)" (#12568)
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/pg_profile_lookup.ini
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/pg_profile_lookup.ini
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/pg_profile_lookup.ini
Due: azure-pipelines.yml

Improve feature mode switch process (#12188)
  src/sonic-ctrmgrd/.gitignore
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12583)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[system-health] Remove subprocess with shell=True (#12572)
  src/system-health/health_checker/service_checker.py
  src/system-health/health_checker/sysmonitor.py
  src/system-health/health_checker/utils.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12584)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12586)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml
