Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Set sai tunnel support for multiple device
  device/accton/x86_64-accton_as4625_54p-r0/Accton-AS4625-54P/hr4-as4625-48x1G+6x10G.config.bcm
  device/accton/x86_64-accton_as4625_54t-r0/Accton-AS4625-54T/hr4-as4625-48x1G+6x10G.config.bcm
  device/accton/x86_64-accton_as5835_54x-r0/Accton-AS5835-54X/mv2-as5835-48x10G+6x100G.config.bcm
  device/accton/x86_64-accton_as7326_56x-r0/Accton-AS7326-56X/td3-as7326-48x25G+8x100G.config.bcm
  device/accton/x86_64-accton_as7726_32x-r0/Accton-AS7726-32X/td3-as7726-32x100G.config.bcm
Due: azure-pipelines.yml

Don't build libhiredis anymore (#15633)
  rules/dhcpmon.mk
  rules/dhcprelay.mk
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/docker-mux.mk
  rules/docker-restapi.mk
  rules/docker-sonic-sdk-buildenv.mk
  rules/hiredis.dep
  rules/hiredis.mk
  rules/linkmgrd.mk
  rules/redis.mk
  rules/restapi.mk
  rules/sflow.mk
  rules/swss-common.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  src/hiredis/.gitignore
  src/hiredis/Makefile
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add nlohmann-json3-dev package into the slave container (#16308)
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update macsec CAK keys in profile for tests to change to type7 encoded format (#16388)
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  dockers/docker-macsec/cli-plugin-tests/test_config_macsec.py
  dockers/docker-macsec/cli/config/plugins/macsec.py
  src/sonic-config-engine/tests/macsec_profile.json
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/macsec.json
  src/sonic-yang-models/yang-models/sonic-macsec.yang
Due: azure-pipelines.yml

[action] Update workflow to parse & monitor pending automation PRs. (#16446)
  .github/workflows/automerge_scan.yml
Due: none

apply PR: Fix segfault issue inside memory_checker #13066 curl -L https://github.com/sonic-net/sonic-buildimage/pull/13066.patch | git apply -v --whitespace=nowarn
  files/image_config/monit/memory_checker
  src/sonic-eventd/tools/events_publish_tool.py
Due: azure-pipelines.yml

[cisco]: Enable Kdump config by default for cisco-8000 (#16224)
  files/build_templates/init_cfg.json.j2
Due: azure-pipelines.yml

[Mellanox] Update SDK/FW to 4.6.1062/2012.1062 Update SDK/FW/SAI to 4.6.1062/2012.1062/SAIBuild2211.25.1.4 (#16478)
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[build] Make the build to fail if raw image generation is not successful (#16461)
  build_image.sh
Due: azure-pipelines.yml

[build] Remove compression of raw image (#16462)
  build_image.sh
Due: azure-pipelines.yml

[build] Change raw image disk size to 1700MB (#16463)
  onie-image.conf
Due: azure-pipelines.yml

[telemetry] limit privileged flag for telemetry container (#16350)
  rules/docker-telemetry.mk
Due: azure-pipelines.yml

Install parted package for k8s master (#16484)
  build_debian.sh
  files/image_config/kubernetes/kubernetes_master_entrance.sh
Due: azure-pipelines.yml

Upgrade gnxi to support dash (#16498)
  dockers/docker-ptf/Dockerfile.j2
Due: azure-pipelines.yml

[vs] support for ARM build (#15692)
  platform/vs/syncd-vs.mk
Due: azure-pipelines.yml

add show dhcp_relay ipv4 counter entry, fix interface name offset issue (#16507)
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Due: azure-pipelines.yml

[swss] Chassis db clean up optimization and bug fixes (#16454)
  files/scripts/swss.sh
Due: azure-pipelines.yml

[dhcp_server] Add dhcp_server container (#14031)
  Makefile.work
  dockers/docker-dhcp-server/Dockerfile.j2
  dockers/docker-dhcp-server/cli/clear/plugins/clear_dhcp_server.py
  dockers/docker-dhcp-server/cli/config/plugins/dhcp_server.py
  dockers/docker-dhcp-server/cli/show/plugins/show_dhcp_server.py
  dockers/docker-dhcp-server/critical_processes
  dockers/docker-dhcp-server/docker_init.sh
  dockers/docker-dhcp-server/supervisord.conf
  files/build_templates/dhcp_server.service.j2
  files/build_templates/docker_image_ctl.j2
  files/build_templates/init_cfg.json.j2
  rules/config
  rules/docker-dhcp-server.dep
  rules/docker-dhcp-server.mk
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[pddf] Enable deselect logic for CPLDMUX (#14631)
  platform/pddf/i2c/modules/cpldmux/driver/pddf_cpldmux_driver.c
Due: azure-pipelines.yml

[ci] Disable building broadcom raw image because of S6100 device disk space limit. (#16516)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
  .azure-pipelines/official-build-cache.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Write error message to syslog when add user failed or connect to TACACS server failed. (#16240)
  src/tacacs/nss/patch/0001-Modify-user-map-profile.patch
  src/tacacs/nss/patch/0010-Send-remote-address-in-TACACS-authorization-message.patch
  src/tacacs/nss/patch/0011-Replace-popen-shell-execution-with-safer-execle.patch
Due: azure-pipelines.yml

[ci] For vstest, make sure kernel modules are built and installed (#16479)
  azure-pipelines.yml
Due: azure-pipelines.yml

Upgrade Ansible to 6.7.0 and make Python3 as the default interpreter in sonic-mgmt-docker (#15836)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: azure-pipelines.yml

Add rsyslog plugin support for frr log (#16192)
  dockers/docker-fpm-frr/00-frr.conf
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/bgp_regex.json
  files/build_templates/bgpd_regex.json
  files/build_templates/rsyslog_plugin.conf.j2
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/zebra_regex.json
  files/image_config/rsyslog/rsyslog.d/00-sonic.conf
Due: azure-pipelines.yml

Revert "Upgrade Ansible to 6.7.0 and make Python3 as the default interpreter in sonic-mgmt-docker (#15836)" (#16537)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: azure-pipelines.yml

Revert set sai tunnel support for HR4 devices
  device/accton/x86_64-accton_as4625_54p-r0/Accton-AS4625-54P/hr4-as4625-48x1G+6x10G.config.bcm
  device/accton/x86_64-accton_as4625_54t-r0/Accton-AS4625-54T/hr4-as4625-48x1G+6x10G.config.bcm
Due: azure-pipelines.yml

Chassis: fix pmon docker failure when DEVICE_METADATA is not available (#16527)
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Due: azure-pipelines.yml

Upgrading hsflowd version from 2.0.35 to 2.0.51-26 to address for [sflow]ERR sflow#hsflowd: device Loopback0 Get SIOCGIFFLAGS failed : No such device #13407 (#15362)
  rules/sflow.mk
Due: azure-pipelines.yml

Fix grpc package for ptf container (#16536)
  files/build/versions/dockers/docker-ptf/versions-py2
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
