Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[systemd-sonic-generator] Fix overlapping strings being passed to strcpy/strcat (#13647)
  src/systemd-sonic-generator/systemd-sonic-generator.c
Due: azure-pipelines.yml

[Mellanox] Fix issue: cannot find label port for logical port when logical port number is larger than 64 (#13710) (#13908)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Due: azure-pipelines.yml

[Ci] Support to use the same snapshot for all platform builds (#13913)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Ci] Support to use the same snapshot for all platform builds (#13913) (#13917)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Fix docker hang issue and change template reference branch (#13894)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/template-daemon.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Kill hanged docker build process to avoid build timeout issue. (#13726) (#13597)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/cleanup.yml
  .azure-pipelines/template-daemon.yml
  .azure-pipelines/template-variables.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Mellanox] Check system eeprom existence in a retry manner (#13884) (#13915)
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/tests/test_eeprom.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
Due: azure-pipelines.yml

[ci] Fix docker hang issue and change template reference branch (#13894) (#13919)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/template-daemon.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

To fix the test failure when porting PR to 202205
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

Voq Chassis: Add the Recirc ports to the INTERFACES table to make it routed intf (#13779)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

add sfp get error description (#13275)
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add lsof and sysstat packages to the base system for debugging purposes (#13741)
  build_debian.sh
Due: azure-pipelines.yml

[dockerd] Force usage of cgo DNS resolver (#13649)
  files/docker/docker.service.conf
Due: azure-pipelines.yml

[Arista] Add other chassis names to platform_components.json for 720DT-48S (#12378)
  device/arista/x86_64-arista_720dt_48s/platform_components.json
Due: azure-pipelines.yml

[build] Fix unexpected warnings: No names found, cannot describe anything. (#12963) (#13927)
  slave.mk
Due: azure-pipelines.yml

[Mellanox] [ECMP calculator] Add support for 4600/4600C/2201 platforms with different interface naming method (#13814) (#13931)
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Due: azure-pipelines.yml

[202012][Mellanox] Place FW binaries under platform directory instead of squashfs (#13890)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Due: azure-pipelines.yml

[202205][Mellanox] Place FW binaries under platform directory instead of squashfs (#13838)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Due: azure-pipelines.yml

[Dual-ToR] add default value for ACL rule for mellanox platform (#13547)
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/system_defaults.json
Due: azure-pipelines.yml

add psu fans status led available config (#13926)
  device/celestica/x86_64-cel_seastone-r0/platform.json
Due: azure-pipelines.yml

add psu fans status led available config (#13926) (#13936)
  device/celestica/x86_64-cel_seastone-r0/platform.json
Due: azure-pipelines.yml

Update DNX BRCM SAI version to 7.1.35.4 (#13907)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[Ci] Support to use the same snapshot for all platform builds (#13913) (#13938)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

build: add an env var to run make reset unattended (#13820)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci] Fix docker hang issue and change template reference branch (#13894) (#13920)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/template-daemon.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[buildsystem]: Fix error 'chown: missing operand after'. (#13569)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add script to upload packages to web server (#13545)
  scripts/populate_file_web_server.py
Due: azure-pipelines.yml

[ci] Fix docker hang issue and change template reference branch (#13894) (#13921)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/template-daemon.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Remove deprecated LGTM badge in README.md. (#13895)
  README.md
Due: azure-pipelines.yml

Remove support to Mellanox SPC4 ASIC (#13932)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/fw.dep
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-fw-upgrade.j2
Due: azure-pipelines.yml

[202012] [Mellanox] Fix issue: cannot lable port for logical port is logical port number larger than 64 (#13709)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Due: azure-pipelines.yml

Added vni field in VRF Yang for VxLAN L3 VNI Support #13456 (#13735)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vrf.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vrf.json
  src/sonic-yang-models/yang-models/sonic-vrf.yang
Due: azure-pipelines.yml

[Mellanox] Check system eeprom existence in a retry manner (#13884)
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/tests/test_eeprom.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
Due: azure-pipelines.yml

[Mellanox] Non upstream patches for hw-mgmt V.4.0020.4104 (#13792) (#13960)
  platform/mellanox/non-upstream-patches/patches.tar.gz
Due: azure-pipelines.yml

Add PYTHON3_SWSSCOMMON as build time dependency to Mellanox platform API (#13847) (#13959)
  platform/mellanox/mlnx-platform-api.mk
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
