Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

Add support for platform syncd pre shutdown plugin (#13564)
  files/scripts/syncd.sh
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14077)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14078)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14079)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14080)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ptf]: Added package "wireshark-common" into PTF docker (#14070)
  dockers/docker-ptf/Dockerfile.j2
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14082)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14072)
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14083)
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[build] Fix issues caused by docker.com gpg key update. (#14063)
  sonic-slave-jessie/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Seastone] fix dx010 qsfp eeprom data write issue (#13930)
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/dx010/modules/dx010_cpld.c
Due: azure-pipelines.yml

[Mellanox] Fix issue: cannot find label port for logical port when logical port number is larger than 64 (#13710) (#13962)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Due: azure-pipelines.yml

Remove dialout as critical process (#14006)
  dockers/docker-sonic-telemetry/critical_processes
Due: azure-pipelines.yml

Revert "[system-health] Remove subprocess with shell=True (#12572)" (#13505)
  src/system-health/health_checker/service_checker.py
  src/system-health/health_checker/sysmonitor.py
  src/system-health/health_checker/utils.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[Mellanox] Place FW binaries under platform directory instead of squashfs (#13837)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Due: azure-pipelines.yml

[Mellanox] update sdk/fw build procedure (#14104)
  .gitmodules
  platform/mellanox/fw.mk
  platform/mellanox/sdk-src/sx-kernel/Makefile
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[dhcp-relay] Add dhcp_relay show cli (#13614)
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_config.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcpv6_helper.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Due: azure-pipelines.yml

[Build] Support to use loosen version when failed to install python packages (#14013)
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add yang model definition for CHASSIS_MODULE table (#14007)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/chassis_module.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/chassis_module.json
  src/sonic-yang-models/yang-models/sonic-chassis-module.yang
Due: azure-pipelines.yml

[Chassis][multiasic] Fix the sonic-db-cli core files issue on multiasic platform after the c++ implementation of sonic-db-cli (#13207)
  files/build_templates/docker_image_ctl.j2
Due: azure-pipelines.yml

[202012][Security][CVE-2022-2309] Upgrade lxml from 4.6.5 to 4.9.1 (#14066)
  src/sonic-config-engine/setup.py
Due: azure-pipelines.yml

[ci] Migrate test jobs to vmss agent pool to increase node limit. (#14127)
  azure-pipelines.yml
Due: azure-pipelines.yml

[netlink] Increse netlink buffer size from 3MB to 16MB (#13965)
  files/image_config/sysctl/sysctl-net.conf
Due: azure-pipelines.yml

[202205] [Mellanox] Update SAI 2205.24.0.2 & SDK/FW 4.5.4206/2010.4204 (#14136)
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[Arista] Disable SSD NCQ on Lodoga (#13964)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

[Mellanox] Update MFT to 4.22.1-15 (#14133)
  platform/mellanox/mft.mk
Due: azure-pipelines.yml
