Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Enable to cancel pipeline jobs during checkout code and tests (#12436)
  .azure-pipelines/azure-pipelines-image-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[TestbedV2]Migrate t0 and t1-lag to TestbedV2 (#12383)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[device/quanta] Mitigation for security vulnerability (#11867)
  device/quanta/x86_64-quanta_ix1b_rglbmc-r0/plugins/psuutil.py
  platform/broadcom/sonic-platform-modules-quanta/ix1b-32x/utils/quanta_ix1b_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/utils/quanta_ix7_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-bwde-32x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-bwde-32x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-bwde-32x/utils/quanta_ix7_bwde_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/utils/quanta_ix8_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix8a-bwde-56x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix8a-bwde-56x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-quanta/ix8a-bwde-56x/utils/quanta_ix8a_bwde_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/utils/quanta_ix8c_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix9-32x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix9-32x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-quanta/ix9-32x/utils/quanta_ix9_util.py
Due: azure-pipelines.yml

[QoS] Support dynamic headroom calculation for Barefoot platforms (#11708)
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/buffers_defaults_t0.j2
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/buffers_defaults_t1.j2
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/buffers_dynamic.json.j2
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/switch-tna-sai.conf
  device/barefoot/x86_64-accton_as9516_32d-r0/port_peripheral_config.j2
  files/build_templates/buffers_config.j2
  files/build_templates/sonic_debian_extension.j2
  platform/barefoot/asic_table.j2
  platform/barefoot/peripheral_table.j2
  platform/barefoot/rules.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12452)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Revert syslog change in dhcp_mon disparity (#12425)
  src/dhcpmon/src/dhcp_mon.cpp
Due: azure-pipelines.yml

[build] Fix dpkg front lock issue with apt-get (#12332) (#12349)
  src/sonic-build-hooks/hooks/dpkg
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[action] Update automerge version, change log level and change auto cherry-pick branch name. (#12455)
  .github/workflows/automerge.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[ci] Fix test job issue on checkout step (#12445)
  .azure-pipelines/run-test-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Barefoot] Add xon_offset to pg_profile_lookup.ini (#12073)
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/pg_profile_lookup.ini
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/pg_profile_lookup.ini
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/pg_profile_lookup.ini
Due: azure-pipelines.yml

[Mellanox] [SKU] Added Mellanox-SN4700-A96C8V8 SKU (#12347)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-A96C8V8/sai_4700_8x200g_8x100g_96x25g.xml
Due: azure-pipelines.yml

[FRR]Adding patch to fix enhanced capability turned on for interface (#12453)
  src/sonic-frr/patch/0011-bgpd-enhanced-capability-is-always-turned-on-for-int.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

Add YANG models for structured events (#12290)
  src/sonic-yang-mgmt/tests/libyang-python-tests/test_sonic_yang.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-dhcp-relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-host.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-syncd.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-dhcp-relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-host.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-syncd.json
  src/sonic-yang-models/yang-models/sonic-events-bgp.yang
  src/sonic-yang-models/yang-models/sonic-events-common.yang
  src/sonic-yang-models/yang-models/sonic-events-dhcp-relay.yang
  src/sonic-yang-models/yang-models/sonic-events-host.yang
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
  src/sonic-yang-models/yang-models/sonic-events-syncd.yang
Due: azure-pipelines.yml

[tunnel_pkt_handler]: Skip nonexistent intfs (#12424)
  dockers/docker-orchagent/tunnel_packet_handler.py
Due: azure-pipelines.yml

Fix sensord service install (#12376)
  src/lm-sensors/patch/0002-Patch-to-peform-dh_installinit-to-include-sensord.in.patch
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12449)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[bullseye] Update libswsscommon deps (#12463)
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Fix the issue that test plan can't be canceled by KVM dump stage (#12469)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Add dhcp6relay dualtor option (#12459)
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: azure-pipelines.yml

Add support for UpperlakeElite (#12280)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

Fix extraction of platform.tar.gz for firsttime (#11935)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

Remove \n from the end of fs_path in ONIEUpdater (#12465)
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
Due: azure-pipelines.yml

[openssh] Update openssh make file, add missing dependency to libnl. (#12327)
  rules/openssh.mk
Due: azure-pipelines.yml

[202205] Change submodule path from Azure to sonic-net (#12308)
  .gitmodules
  files/image_config/environment/motd
  platform/vs/sonic-gns3a.sh
  src/sonic-host-services-data/README.md
Due: azure-pipelines.yml

[TestbedV2]Migrate t0 and t1-lag to TestbedV2 (#12383) (#12474)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Add the original docker tag without username (#12472)
  slave.mk
Due: azure-pipelines.yml

[Ci] clean up the old artifacts in the agent before downloading the new artifacts (#12391)
  .azure-pipelines/run-test-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
