Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[202012][LLDPD] fix to port remove and immediately create problem (#12467)
  src/lldpd/patch/0012-fix-recreate-socket-on-ifindex-change.patch
  src/lldpd/patch/series
Due: azure-pipelines.yml

[armhf][sonic-installer] Fix the sonic-installer install images on armhf platform issue (#12284)
  platform/marvell-armhf/platform.conf
Due: azure-pipelines.yml

[tunnel_pkt_handler]: Skip nonexistent intfs (#12424)
  dockers/docker-orchagent/tunnel_packet_handler.py
Due: azure-pipelines.yml

Add dhcp6relay dualtor option (#12459)
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: azure-pipelines.yml

[action] Use github code scan instead of LGTM. (#12402)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix to improve hostname handling (#12064)
  files/image_config/hostname/hostname-config.sh
Due: azure-pipelines.yml

[202111] Change submodule path from Azure to sonic-net (#12309)
  .gitmodules
  files/image_config/environment/motd
  platform/vs/sonic-gns3a.sh
  src/sonic-host-services-data/README.md
Due: azure-pipelines.yml

Loc moved to prev consolidation change (#12427)
  build_image.sh
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12507)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[201811] address dhcp relay build issue (#12501)
  src/dhcp6relay/src/relay.cpp
Due: azure-pipelines.yml

[action] Use github code scan instead of LGTM. (#12402) (#12506)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Add yang_config_validation to DEVICE_METADATA yang model (#12497)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Due: azure-pipelines.yml

[netberg] Replace os.system (#12104)
  platform/barefoot/sonic-platform-modules-netberg/aurora-610/sonic_platform/component.py
  platform/barefoot/sonic-platform-modules-netberg/aurora-610/sonic_platform/qsfp.py
  platform/barefoot/sonic-platform-modules-netberg/aurora-610/sonic_platform/sfp.py
Due: azure-pipelines.yml

Fix CVE-2022-37032 on FRR submodule (#12435)
  src/sonic-frr/patch/0012-Ensure-ospf_apiclient_lsa_originate-cannot-accidently-write-into-stack.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

[202012][TestbedV2]Migrate t0 and t1-lag to TestbedV2 (#12383) (#12454)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[202205] use the pr_test_scripts.yaml from 202205 branch (#12505)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[openssh] Update openssh make file, add missing dependency to libnl. (#12327)
  rules/openssh.mk
Due: azure-pipelines.yml

fix missing import error (#12511)
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/eeprom.py
Due: azure-pipelines.yml

[action] Use pull_request_target trigger instead to avoid codeQL check approval (#12509)
  .github/workflows/codeql-analysis.yml
Due: none

[ci] Add azp trigger for future release branches. (#12508)
  .azure-pipelines/official-build.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Add emmc quirks to boot0 (#9989) (#12373)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

[action] Use pull_request_target trigger instead to avoid codeQL check approval (#12509) (#12527)
  .github/workflows/codeql-analysis.yml
Due: none

Add yang model definition for VOQ_INBAND_INTERFACE (#12306) (#12493)
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/voq-inband-interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/voq-inband-interface.json
  src/sonic-yang-models/yang-models/sonic-voq-inband-interface.yang
Due: azure-pipelines.yml

[202205][Arista] Fix cmdline generation during warm-reboot from 201811/201911 (#12371)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

[Build] Add the missing debian source bullseye-updates/buster-updates (#12522)
  dockers/docker-base-bullseye/sources.list
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
Due: azure-pipelines.yml

Update BRCM SAI version to 7.1.16.4 (#12515)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[Restapi Yang] Fix issue with multiple certs (#12495)
  src/sonic-yang-models/tests/yang_model_tests/tests/restapi.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/restapi.json
  src/sonic-yang-models/yang-models/sonic-restapi.yang
Due: azure-pipelines.yml

iccpd bullseye migration (#12097)
  dockers/docker-iccpd/Dockerfile.j2
  rules/docker-iccpd.mk
Due: azure-pipelines.yml

Add yang_config_validation to minigraph.py (#12504)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_yang_data.json
Due: azure-pipelines.yml

[cherry-pick][201911] Fix dhcp option buffer issue (#12520)
  src/isc-dhcp/patch/0014-Fix-dhcrelay-agent-option-buffer-pointer-logic.patch
  src/isc-dhcp/patch/series
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12547)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
