Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

Improve sudo cat command for RO user. (#14428)
  files/image_config/sudoers/sudoers
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14498)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-nat/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[sflow] Switch to bullseye (#14494)
  dockers/docker-sflow/Dockerfile.j2
  rules/docker-sflow.mk
Due: azure-pipelines.yml

change static route expiry time from 1800 to 172800 (#14497)
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

[cisco-8000] update platform module to 0.2.7 (#14172)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14516)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-vs/versions-py2
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[DellEMC] S6100 - Adding logger to fetch SSD FW Upgrade status (#14247)
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_ssd_upgrade_status.sh
Due: azure-pipelines.yml

Delay mux/sflow/snmp timer after interface-config service (#14506)
  files/build_templates/mux.service.j2
  files/build_templates/sflow.service.j2
  files/build_templates/snmp.timer
Due: azure-pipelines.yml

Delay mux/sflow/snmp timer after interface-config service (#14506) (#14523)
  files/build_templates/mux.service.j2
  files/build_templates/sflow.service.j2
  files/build_templates/snmp.timer
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14528)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14529)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14527)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py2
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Marvell] Update armhf sai debian (#14413)
  platform/marvell-armhf/sai.mk
Due: azure-pipelines.yml

Improve sudo cat command for RO user. (#14428) (#14437)
  files/image_config/sudoers/sudoers
Due: azure-pipelines.yml

[S6100] Improve S6100 serial-getty monitor, wait and re-check when getty not running to avoid false alert. (#14402)
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/check-getty.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Due: azure-pipelines.yml

[Build] Fix the SLAVE_DRI not defined issue in the slave container issue (#14297)
  slave.mk
Due: azure-pipelines.yml

[202205][Buffer] Added cable length config to buffer config template for EdgeZoneAggregator (#14538)
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample-arista-7060-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[armhf][Nokia-7215]Add SFP refactor support for Nokia-7215 platform (#14396)
  device/nokia/armhf-nokia_ixs7215_52x-r0/platform.json
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Due: azure-pipelines.yml

Revert "chassis-packet: resolve the missing static routes (#14230)" (#14544)
  files/build_templates/arp_update_vars.j2
  files/scripts/arp_update
Due: azure-pipelines.yml

[devices/arista] Update asic_port_name in Arista LCs (#14234)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
Due: azure-pipelines.yml

[devices/arista]: Added recycle ports required for egress mirroring (#13967)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/config_checker
Due: azure-pipelines.yml

[yang]: Modify yang model to handle subport in PORT table (#14519)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Due: azure-pipelines.yml

Modify common-auth-sonic to take care of case where no RADIUS servers are configured. (#14514)
  src/sonic-host-services-data/templates/common-auth-sonic.j2
Due: azure-pipelines.yml

Add monit_snmp file to monitor memory usage (#14464)
  dockers/docker-snmp/base_image_files/monit_snmp
  rules/docker-snmp.mk
Due: azure-pipelines.yml

[write standby] force DB connections to use unix socket to connect (#14524)
  files/scripts/write_standby.py
Due: azure-pipelines.yml

[Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp (#14071)
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build][201811] Fix the jessie mirror removed issue (#14526)
  Makefile.work
  dockers/docker-base/Dockerfile.j2
  dockers/docker-base/sources.list
  dockers/docker-basic_router/Dockerfile
  dockers/docker-config-engine/Dockerfile.j2
  dockers/docker-database/Dockerfile.j2
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-gobgp/Dockerfile.j2
  dockers/docker-fpm-quagga/Dockerfile.j2
  dockers/docker-lldp-sv2/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/sources.list
  dockers/docker-router-advertiser/Dockerfile.j2
  dockers/docker-snmp-sv2/Dockerfile.j2
  dockers/docker-sonic-telemetry/Dockerfile.j2
  dockers/docker-teamd/Dockerfile.j2
  platform/barefoot/docker-saiserver-bfn/Dockerfile
  platform/barefoot/docker-syncd-bfn-rpc/Dockerfile.j2
  platform/barefoot/docker-syncd-bfn/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/Dockerfile.j2
  platform/innovium/docker-syncd-invm/Dockerfile.j2
  platform/marvell/docker-syncd-mrvl/Dockerfile.j2
  platform/mellanox/docker-saiserver-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx-rpc/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-syncd-vs/Dockerfile.j2
  sonic-slave/Dockerfile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Support to use the snapshot mirror for debian base image (#14474)
  scripts/build_debian_base_system.sh
Due: azure-pipelines.yml

Increase wait_for_tunnel() timeout to 90s (#14279)
  files/scripts/write_standby.py
Due: azure-pipelines.yml

[submodule] Advance sonic-swss-common pointer (#14504)
  rules/swss-common.mk
Due: azure-pipelines.yml

[Build] Support to use the snapshot mirror for debian base image (#14474) (#14562)
  scripts/build_debian_base_system.sh
Due: azure-pipelines.yml

Increase wait_for_tunnel() timeout to 90s (#14279) (#14563)
  files/scripts/write_standby.py
Due: azure-pipelines.yml
