Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[ci/build]: Upgrade SONiC package versions (#12726)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Use apt-get to predictably support dependency ordered configuration of lazy packages (#12164)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/platform/rc.local
Due: azure-pipelines.yml

[sai-ptf]Fix sai ptf issue (#12723)
  dockers/docker-ptf-sai/Dockerfile.j2
  platform/vs/docker-ptf-sai.mk
Due: azure-pipelines.yml

[SAI-PTF][202012]Fix sai ptf 202012 (#12724)
  dockers/docker-ptf-sai/Dockerfile.j2
  platform/vs/docker-ptf-sai.mk
Due: azure-pipelines.yml

[SAI PTF] SAI PTF docker support sai-ptf v2 (#12719)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
  dockers/docker-ptf-sai/Dockerfile.j2
  platform/vs/docker-ptf-sai.mk
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[sonic-config-engine] Replace os.system, replace yaml.load, remove subprocess with shell=True (#12607)
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_cfggen_pfx_filter.py
  src/sonic-config-engine/tests/test_cfggen_platformJson.py
  src/sonic-config-engine/tests/test_cfggen_t2_chassis_fe.py
  src/sonic-config-engine/tests/test_frr.py
  src/sonic-config-engine/tests/test_j2files.py
  src/sonic-config-engine/tests/test_j2files_t2_chassis_fe.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

[Marvell] Move armhf syncd docker to bullseye. (#12585)
  platform/marvell-armhf/docker-saiserver-mrvl.mk
  platform/marvell-armhf/docker-syncd-mrvl-rpc/Dockerfile.j2
  platform/marvell-armhf/docker-syncd-mrvl.mk
  platform/marvell-armhf/docker-syncd-mrvl/Dockerfile.j2
Due: azure-pipelines.yml

[Arista] [platform] Add thermal info in platform.json (#12714)
  device/arista/x86_64-arista_7800r3_48cq2_lc/platform.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/platform.json
Due: azure-pipelines.yml

[docs] Correct clone instructions & typos (#12733)
  README.buildsystem.md
  README.md
Due: azure-pipelines.yml

Improve feature mode switch process (#12188)
  src/sonic-ctrmgrd/.gitignore
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

Fix code irregular issues (#12595)
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12759)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Revert SSHD config change. (#12729)
  build_debian.sh
Due: azure-pipelines.yml

[Arista] Update platform.json for 7260CX3-64 (#12757)
  device/arista/x86_64-arista_7260cx3_64/platform.json
  device/arista/x86_64-arista_7260cx3_64/platform_components.json
Due: azure-pipelines.yml

[Arista] Update phy-credo package (#12755)
  rules/phy-credo.mk
Due: azure-pipelines.yml

add 202211 branch for submodules which has dependency on
  .gitmodules
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12756)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

add fix for key not exists case (#12769)
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12772)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] set apt Acquire::Retries to 3 for bullseye (#12758)
  build_debian.sh
  dockers/docker-base-bullseye/Dockerfile.j2
  dockers/docker-base-bullseye/apt-multiple-retries
  files/apt/apt.conf.d/apt-multiple-retries
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-bullseye/apt-multiple-retries
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[TestbedV2] Add wan topo test using TestbedV2. (#12751)
  azure-pipelines.yml
Due: azure-pipelines.yml

[SAI PTF][202205]Support sai ptf v2 Syncd-rpc (#12763)
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  rules/syncd.mk
Due: azure-pipelines.yml

[SAI PTF]Support sai ptf v2 Syncd-rpc (#12761)
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  rules/syncd.mk
Due: azure-pipelines.yml

Revert "[SAI PTF]Support sai ptf v2 Syncd-rpc (#12761)"
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  rules/syncd.mk
Due: azure-pipelines.yml

[system health daemon] Support PSU power threshold checking (#11864)
  src/system-health/health_checker/hardware_checker.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[Arista] Update platform.json for 7060CX-32S (#12783)
  device/arista/x86_64-arista_7060_cx32s/platform.json
  device/arista/x86_64-arista_7060_cx32s/platform_components.json
Due: azure-pipelines.yml
