Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[arm64] Fix marvell-arm64 pipeline build (#15228)
  platform/marvell-arm64/prestera/debian/rules
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Mellanox] Update hw-mgmt to 7.0020.4301 (#15260) (#15281)
  platform/mellanox/hw-management.mk
Due: azure-pipelines.yml

[secure boot]Fix mokutil check issue with ONIE version older than 202… (#14589)
  installer/default_platform.conf
Due: azure-pipelines.yml

[Mellanox] Update hw-mgmt to 7.0020.4301 (#15260) (#15283)
  platform/mellanox/hw-management.mk
Due: azure-pipelines.yml

[marvell-arm64] Update platform.conf (#15163)
  platform/marvell-arm64/platform.conf
Due: azure-pipelines.yml

Added change to add 'peerType' as element in NEIGH_STATE_TABLE. (#15265)
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
Due: azure-pipelines.yml

[CI/CD] Migrate to SONiC Elastictest (#15273)
  azure-pipelines.yml
Due: azure-pipelines.yml

[CI/CD] Migrate to SONiC Elastictest (#15274)
  azure-pipelines.yml
Due: azure-pipelines.yml

[CI/CD] Migrate to SONiC Elastictest (#15275)
  azure-pipelines.yml
Due: azure-pipelines.yml

[CI/CD] Migrate to SONiC Elastictest (#15276)
  azure-pipelines.yml
Due: azure-pipelines.yml

[CI/CD] Refine pr test definition, remove old test jobs and testbedv2 flags (#15302)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine pr test definition, remove old test jobs and testbedv2 flags (#15303)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine pr test definition, remove old test jobs and testbedv2 flags (#15304)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine pr test definition, remove old test jobs and testbedv2 flags (#15305)
  .azure-pipelines/run-test-scheduler-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15307)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update cisco-8000.ini (#15300)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

[202205] Implement zram compression for docker in RAM (#15137)
  build_image.sh
  files/Aboot/boot0.j2
  files/initramfs-tools/modules
  files/initramfs-tools/union-mount.j2
Due: azure-pipelines.yml

Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

[staticroutebfd]fix an issue on deleting a non-bfd static route (#15269)
  dockers/docker-fpm-frr/frr/supervisord/critical_processes.j2
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  src/sonic-bgpcfgd/staticroutebfd/main.py
  src/sonic-bgpcfgd/tests/test_static_rt_bfd.py
Due: azure-pipelines.yml

[Mellanox]Adding SKU Mellanox-SN4700-O8C48 (#15179)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/sai_4700_8x400g_48x100g.xml
Due: azure-pipelines.yml

Update PG headroom settings ports based on port speed/cable length (#15287)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/buffers_defaults_t2.j2
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample-arista-7800r3-48cqm2-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-arista-7800r3a-36dm2-c36-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-arista-7800r3a-36dm2-d36-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-nokia-ixr7250e-36x100g-t2-minigraph.xml
  src/sonic-config-engine/tests/sample-nokia-ixr7250e-36x400g-t2-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

Update AclInterface and Management Interfaces parsing for multi-asic case (#14952)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

[action] Only add 'automerge' label on master version upgrade PR. (#15112) (#15279)
  .github/workflows/label.yml
Due: none

Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933) (#15317)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933) (#15316)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15325)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15327)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
