Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[sonic-slave]: Add gmock for sonic-swss-common tests (#8950) (#12461)
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202106][ci] Cherry-pick PRs relative to reproducible build option from master branch. (#12350)
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
  .azure-pipelines/official-build.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[action] Use github code scan instead of LGTM. (#12402)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update cisco-8000 submodule to v0.120 (#12470)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

Add 36 port 100g sku for x86_64-arista_7800r3a_36d series of linecards. (#11813)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36DM2-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36P-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36D2-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36DM2-C36
Due: azure-pipelines.yml

Add 36 port 400g SKU for x86_64-arista_7800r3a_36d series of Linecards. (#11872)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D-D36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/context_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36DM2-D36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36P-P36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36D2-D36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3AK-36DM2-D36
Due: azure-pipelines.yml

Add BUILD_DATE to SWI (#11915)
  build_image.sh
Due: azure-pipelines.yml

[minigraph] Remove SLB and bgp monitor peers for storage backend (#12251)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

[RDMA] create split profiles for Arista-7050CX3-32S (#12228)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/qos.json.j2
Due: azure-pipelines.yml

[DHCP_RELAY] Updated wait_for_intf.sh to wait for ipv6 global and link local addr (#12273)
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  src/sonic-config-engine/tests/dhcp-relay-sample.json
  src/sonic-config-engine/tests/sample_output/py2/wait_for_intf.sh
  src/sonic-config-engine/tests/sample_output/py3/wait_for_intf.sh
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[Build][Bug] Fix apt-get remove version not lock issue (#12193)
  src/sonic-build-hooks/hooks/apt-get
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

fixed nokia platform m0 asic mismatch (#12148)
  device/nokia/armhf-nokia_ixs7215_52x-r0/platform_asic
Due: azure-pipelines.yml

[Mellanox]Adding SKU Mellanox-SN2700-D44C10 (#12396)
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai_2700_44x50g_10x100g.xml
Due: azure-pipelines.yml

[pmon] Add smartmontools to pmon docker (#11837)
  dockers/docker-platform-monitor/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  rules/smartmontools.dep
  rules/smartmontools.mk
Due: azure-pipelines.yml

Fix sensord service install (#12376)
  src/lm-sensors/patch/0002-Patch-to-peform-dh_installinit-to-include-sensord.in.patch
Due: azure-pipelines.yml

Updated config files to disable DLR_INIT capability (#12401)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
Due: azure-pipelines.yml

[FRR] import FRR patch: zebra: Note when the netlink DUMP command is interrupted (#12412)
  src/sonic-frr/patch/0010-zebra-Note-when-the-netlink-DUMP-command-is-interrup.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

Updated BRCM SAI to version 7.1.10.4 (#12423)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

Fix extraction of platform.tar.gz for firsttime (#11935)
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

[tunnel_pkt_handler]: Skip nonexistent intfs (#12424)
  dockers/docker-orchagent/tunnel_packet_handler.py
Due: azure-pipelines.yml

Enable to cancel pipeline jobs during checkout code and tests (#12436)
  .azure-pipelines/azure-pipelines-image-template.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[FRR]Adding patch to fix enhanced capability turned on for interface (#12453)
  src/sonic-frr/patch/0011-bgpd-enhanced-capability-is-always-turned-on-for-int.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

Add dhcp6relay dualtor option (#12459)
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: azure-pipelines.yml

Add the original docker tag without username (#12472)
  slave.mk
Due: azure-pipelines.yml

[core_cleanup.py] Convert to Python 3; Fix bug; Improve code reuse (#5781)
  files/scripts/core_cleanup.py
Due: azure-pipelines.yml

[dhcp_relay] fix data type in dhcp6relay, add protection in packet data parsing (#9036)
  src/dhcp6relay/src/relay.cpp
Due: azure-pipelines.yml

[CI] Fix Azure pipeline set -e not work. (#9282)
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Close console session due to user inactivity (#9890)
  files/image_config/bash/bash.bashrc
  files/image_config/sudoers/sudoers
Due: azure-pipelines.yml

Fix to improve hostname handling (#12064)
  files/image_config/hostname/hostname-config.sh
Due: azure-pipelines.yml

[ci] Fix bug involved by PR 11810 which affect official build pipeline (#11891)
  .azure-pipelines/official-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Disable reproducible build in master branch official build (#11452)
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Update azp template variable for reproducible build. (#11419)
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci] Update reproducible build related pipeline. (#11810)
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
  .azure-pipelines/official-build.yml
  azure-pipelines.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Pickup fix and make up BRCM SAI version to 4.3.7.1-6 (#12486)
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml
