Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    variables:
      CACHE_MODE: rcache
      VERSION_CONTROL_OPTIONS: SONIC_VERSION_CONTROL_COMPONENTS=deb,py2,py3,web,git,docker
    jobs:
  ...

Potential fix for Celestica E1031 device hang (#15822)
  device/celestica/x86_64-cel_e1031-r0/installer.conf
Due: azure-pipelines.yml

[Build] Fix some of the patches not applied issue (#15660)
  slave.mk
Due: azure-pipelines.yml

[Build][202111] Fix the PyYang python package installation issue (#15890) (#15905)
  build_debian.sh
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Pick dependency files in submodules. (#15142)
  rules/dhcprelay.dep
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15939)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build][202012] Fix the PyYang python package installation issue (#15890) (#15903)
  build_debian.sh
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202211] [Mellanox] Update SAI build procedure (#15728) (#15742)
  .gitmodules
  platform/mellanox/.gitignore
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/mlnx-sai/.gitignore
  platform/mellanox/mlnx-sai/Makefile
Due: azure-pipelines.yml

[Mellanox] Add support for BIOS update on Spectrum-4 (#15795) (#15941)
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
Due: azure-pipelines.yml

[Mellanox] Add support for BIOS update on Spectrum-4 (#15795) (#15942)
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
Due: azure-pipelines.yml

Fix issue: set delayed attribute to true for platform monitor service (#15816)
  files/build_templates/init_cfg.json.j2
Due: azure-pipelines.yml

Add k8s master code new (#15716)
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/template-skipvstest.yml
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  files/image_config/kubernetes/kubernetes_master_entrance.service
  files/image_config/kubernetes/kubernetes_master_entrance.sh
  rules/config
  slave.mk
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Update sairedis submodule (#15720)
  platform/vs/syncd-vs.mk
  rules/sairedis.mk
  rules/syncd.mk
Due: azure-pipelines.yml

[202012] dhcprelay add Loopback0 as source interface in dualtor scenario (#15744)
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: azure-pipelines.yml

[monit][dualtor] Periodically check mux neighbors consistency (#15769)
  files/image_config/monit/conf.d/sonic-host
Due: azure-pipelines.yml

[ci] Fix pipeline 'Check if vstest is needed.' issue. (#15958)
  .azure-pipelines/template-skipvstest.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[YANG][vlan-sub-interface] Add `vlan` field (#15838)
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Due: azure-pipelines.yml

[Marvell] Fix get_system_mac for system without eeprom (#15376)
  src/sonic-py-common/sonic_py_common/device_info.py
Due: azure-pipelines.yml

Change build-image licenses to Apache (#15377)
  LICENSE
  src/sonic-device-data/LICENSE
  src/sonic-host-services-data/LICENSE
Due: azure-pipelines.yml

[YANG][SNMP]: Add YANG model for SNMP_AGENT_ADDRESS_CONFIG table (#15587)
  src/sonic-yang-models/tests/yang_model_tests/tests/snmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/snmp.json
  src/sonic-yang-models/yang-models/sonic-snmp.yang
Due: azure-pipelines.yml

Support FIPS DB configuration (#15632)
  build_debian.sh
  files/build_templates/docker_image_ctl.j2
  installer/install.sh
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/fips.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fips.json
  src/sonic-yang-models/yang-models/sonic-fips.yang
Due: azure-pipelines.yml

[build] Add sonic-utilities to sonic-host-services dependencies list. (#15987)
  rules/sonic-host-services.mk
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
