Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[Mellanox] Add device files for SN5600 (#12831)
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai_5600.xml
  device/mellanox/x86_64-nvidia_sn5600-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5600-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5600-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5600-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5600-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn5600-r0/thermal_policy.json
Due: azure-pipelines.yml

[build]: Force xz as compression type when building sonic-build-hooks debs (#12823)
  src/sonic-build-hooks/Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[DPB] Dell Z9332f port breakout changes (#12789)
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/hwsku.json
  device/dell/x86_64-dellemc_z9332f_d1508-r0/platform.json
Due: azure-pipelines.yml

[system health daemon] Support PSU power threshold checking (#11864)
  src/system-health/health_checker/hardware_checker.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

[Mellanox] Add SDK hash calculator debian and update SDK makefile to compile it (#12840)
  platform/mellanox/sdk-src/sx-hash-calc/Makefile
  platform/mellanox/sdk.dep
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

Reload BCM SDK kmods on syncd start to handle syncd restart issues (#12804)
  files/scripts/syncd.sh
Due: azure-pipelines.yml

[Arista] Update phy-credo package (#12755)
  rules/phy-credo.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13014)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13015)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13016)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13017)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13018)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13019)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

05.Version cache - docker dpkg caching support (#12005)
  Makefile.work
  build_debian.sh
  platform/broadcom/sai.mk
  rules/config
  scripts/build_debian_base_system.sh
  scripts/collect_build_version_files.sh
  scripts/collect_docker_version_files.sh
  scripts/collect_host_image_version_files.sh
  scripts/generate_buildinfo_config.sh
  scripts/prepare_debian_image_buildinfo.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/prepare_slave_container_buildinfo.sh
  scripts/versions_manager.py
  slave.mk
  src/sonic-build-hooks/Makefile
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
  src/sonic-build-hooks/scripts/post_run_buildinfo
  src/sonic-build-hooks/scripts/post_run_cleanup
  src/sonic-build-hooks/scripts/pre_run_buildinfo
  src/sonic-build-hooks/scripts/utils.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Replace logrotate cron file with (adapted) systemd timer file (#12921)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/cron.d/logrotate
  files/image_config/logrotate/timerOverride.conf
Due: azure-pipelines.yml

[ci] Disable Shallow fetch in pipeline build. (#12964) (#13028)
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[arista] Add platform.json for arista chassis LC5 (#12949) (#13027)
  device/arista/x86_64-arista_7800r3_48cq2_lc/platform.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/platform.json
Due: azure-pipelines.yml

Fix dependency of dhcp-mon on VLAN with only v6 (#13006) (#13029)
  dockers/docker-dhcp-relay/dhcp-relay.monitors.j2
Due: azure-pipelines.yml

[yang] Add collector_vrf to sflow yang model (#12897) (#13025)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sflow.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sflow.json
  src/sonic-yang-models/yang-models/sonic-sflow.yang
Due: azure-pipelines.yml

[build] Add the possibility to disable compilation of teamd and radv containers. (#12920)
  files/scripts/swss.sh
  rules/config
  rules/docker-router-advertiser.mk
  rules/docker-teamd.mk
  slave.mk
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13036)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Marvell] Update armhf sai debian (#13037)
  platform/marvell-armhf/sai.mk
Due: azure-pipelines.yml

Add aggregate port_config.ini for Wolverine SKU (#12951)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/port_config.ini
Due: azure-pipelines.yml

Fix missing system_ref_core_clock_khz (#12663)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
Due: azure-pipelines.yml

[build] use real wget for SAI_FLAGS (#12665)
  platform/broadcom/sai.dep
Due: azure-pipelines.yml

[Mellanox] Remove TODO comments which are no longer needed (#13023)
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Due: azure-pipelines.yml

[BFN]: Implement getting psu related sensors in sonic_platform directly from BMC (#12786)
  dockers/docker-platform-monitor/Dockerfile.j2
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/bfn_extensions/psu_sensors.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/psu.py
Due: azure-pipelines.yml

The PSU driver module complies with s3ip sysfs specification (#12887)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/psu_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/psu_sysfs.c
Due: azure-pipelines.yml

The FAN driver framework module complies with s3ip sysfs specification (#12888)
  platform/s3ip-sysfs/s3ip_sysfs_frame/fan_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/fan_sysfs.h
Due: azure-pipelines.yml

The Transceiver driver framework module complies with s3ip sysfs specification (#12889)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/transceiver_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/transceiver_sysfs.c
Due: azure-pipelines.yml

The Sensor driver framework module complies with s3ip sysfs specification (#12890)
  platform/s3ip-sysfs/s3ip_sysfs_frame/curr_sensor_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/curr_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/temp_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/vol_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/temp_sensor_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/vol_sensor_sysfs.c
Due: azure-pipelines.yml

The LED and watchdog driver framework module complies with s3ip sysfs specification (#12892)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/sysled_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/watchdog_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/sysled_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/watchdog_sysfs.c
Due: azure-pipelines.yml

The slot and switch_rootsysfs driver framework module complies with s3ip sysfs specification (#12893)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/slot_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/switch.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/syseeprom_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/slot_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/switch.c
Due: azure-pipelines.yml

The user framework module complies with s3ip sysfs specification (#12894)
  platform/s3ip-sysfs/scripts/s3ip-sysfs.service
  platform/s3ip-sysfs/scripts/s3ip_load.py
  platform/s3ip-sysfs/scripts/s3ip_sysfs_conf.json
  platform/s3ip-sysfs/scripts/s3ip_sysfs_tool.sh
Due: azure-pipelines.yml

The demo driver complies with s3ip sysfs specification,which use the s3ip kernel framework (#12895)
  platform/s3ip-sysfs/demo_driver/cpld_device_driver.c
  platform/s3ip-sysfs/demo_driver/curr_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/fan_device_driver.c
  platform/s3ip-sysfs/demo_driver/fpga_device_driver.c
  platform/s3ip-sysfs/demo_driver/include/device_driver_common.h
  platform/s3ip-sysfs/demo_driver/psu_device_driver.c
  platform/s3ip-sysfs/demo_driver/slot_device_driver.c
  platform/s3ip-sysfs/demo_driver/syseeprom_device_driver.c
  platform/s3ip-sysfs/demo_driver/sysled_device_driver.c
  platform/s3ip-sysfs/demo_driver/temp_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/transceiver_device_driver.c
  platform/s3ip-sysfs/demo_driver/vol_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/watchdog_device_driver.c
Due: azure-pipelines.yml

The build project of s3ip frameworkk (#12896)
  platform/s3ip-sysfs/Makefile
  platform/s3ip-sysfs/build.sh
  platform/s3ip-sysfs/debian/.debhelper/generated/s3ip-sysfs/installed-by-dh_installdocs
  platform/s3ip-sysfs/debian/README.Debian
  platform/s3ip-sysfs/debian/changelog
  platform/s3ip-sysfs/debian/compat
  platform/s3ip-sysfs/debian/control
  platform/s3ip-sysfs/debian/copyright
  platform/s3ip-sysfs/debian/files
  platform/s3ip-sysfs/debian/rules
  platform/s3ip-sysfs/debian/s3ip-sysfs.postinst
  platform/s3ip-sysfs/debian/s3ip-sysfs.prerm
  platform/s3ip-sysfs/debian/s3ip-sysfs.substvars
  platform/s3ip-sysfs/debian/watch
  platform/s3ip-sysfs/demo_driver/Makefile
  platform/s3ip-sysfs/s3ip_sysfs_frame/Makefile
Due: azure-pipelines.yml
