Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[devices/arista]: Added recycle ports required for egress mirroring (#13967) (#14731)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/config_checker
Due: azure-pipelines.yml

[Build] Support to use the snapshot mirror for debian base image (#14474) (#14728)
  scripts/build_debian_base_system.sh
Due: azure-pipelines.yml

[Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp (#14071) (#14729)
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Fix backend port channels and routes being displayed (#14479) (#14734)
  src/sonic-py-common/sonic_py_common/multi_asic.py
Due: azure-pipelines.yml

[yang]: Modify yang model to handle subport in PORT table (#14519) (#14727)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Due: azure-pipelines.yml

Update golang version for telemetry build in sonic-slave-buster to fix (#14636) (#14735)
  sonic-slave-jessie/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Install python-redis package to docker containers (#14632)
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-config-engine-stretch/Dockerfile.j2
  dockers/docker-config-engine/Dockerfile.j2
Due: azure-pipelines.yml

[devices/arista] Update asic_port_name in Arista LCs (#14234) (#14732)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
Due: azure-pipelines.yml

[Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp (#14071)
  .azure-pipelines/azure-pipelines-image-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Update golang version for telemetry build in sonic-slave-buster to fix (#14636)
  sonic-slave-jessie/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

SONIC_ONLINE_DEBS no longer overwrites local build outputs (#14698)
  slave.mk
Due: azure-pipelines.yml

[S6100] Improve S6100 serial-getty monitor, wait and re-check when getty not running to avoid false alert. (#14402)
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/check-getty.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Due: azure-pipelines.yml

[marvell-armhf][uboot-setting] Fix the print menu for marvell-armhf print menu on Nokia-7215 (#13933)
  platform/marvell-armhf/platform.conf
Due: azure-pipelines.yml

Update golang version for telemetry build in sonic-slave-buster to fix CVE-2021-33195 (#14637) (#14777)
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update golang version for telemetry build in sonic-slave-buster to fix (#14636) (#14776)
  sonic-slave-jessie/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Improve sudo cat command for RO user. (#14428)
  files/image_config/sudoers/sudoers
Due: azure-pipelines.yml

[yang] add NEIGH yang model (#14521)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/neigh.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/neigh.json
  src/sonic-yang-models/yang-models/sonic-neigh.yang
Due: azure-pipelines.yml

[sonic-cfggen] Track missing yang models (#10963)
  src/sonic-config-engine/tests/common_utils.py
Due: azure-pipelines.yml

[S6100] Improve S6100 serial-getty monitor, wait and re-check when getty not running to avoid false alert. (#14402) (#14755)
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/check-getty.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Due: azure-pipelines.yml

[image_config] add rasdaemon.timer (#14300) (#14762)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/rasdaemon/rasdaemon.timer
Due: azure-pipelines.yml

[sonic-host-services] start host service on mgmt-framework/telemetry (#14517)
  src/sonic-host-services-data/debian/sonic-host-services-data.sonic-hostservice.service
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
