Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    variables:
      CACHE_MODE: rcache
      VERSION_CONTROL_OPTIONS: SONIC_VERSION_CONTROL_COMPONENTS=deb,py2,py3,web,git,docker
    jobs:
  ...

[ctrmgr]: Container image clean up bug fix (#15772) (#15870)
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

[k8s]: Bypass the systemd service restart limit and do immediately restart when change to local mode (#15432) (#15868)
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
Due: azure-pipelines.yml

[SNMP][IPv6]: Fix SNMP IPv6 reachability issue in certain scenarios (#15487) (#15874)
  dockers/docker-snmp/snmpd.conf.j2
  dockers/docker-snmp/start.sh
Due: azure-pipelines.yml

Upgrade scapy in the PTF's python3 virtualenv to 2.5.0 (#15573) (#15875)
  dockers/docker-ptf/Dockerfile.j2
Due: azure-pipelines.yml

[arp_update]: Fix IPv6 neighbor race condition (#15583) (#15877)
  files/scripts/arp_update
Due: azure-pipelines.yml

[ctgmgr]: do not remove label when do systemd service stop when service is in kube mode (#15642) (#15878)
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/tests/container_test.py
Due: azure-pipelines.yml

Revert "[gearbox] use credo sai v0.9.0 (#14149)" (#15708) (#15879)
  platform/components/docker-gbsyncd-credo.mk
Due: azure-pipelines.yml

cherry-pick frr log enhancement for graceful restart (#15863)
  src/sonic-frr/patch/0029-bgpd-Change-log-level-for-graceful-restart-events.patch
  src/sonic-frr/patch/series
Due: azure-pipelines.yml

[Build] Fix the PyYang python package installation issue (#15890) (#15907)
  build_debian.sh
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15855)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Fix the PyYang python package installation issue (#15890)
  build_debian.sh
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

advance dhcprelay to 6a6ce24, add default dhcpv6 dualtor source interface (#15881)
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: azure-pipelines.yml

Update WRED profile on system ports (#15612)
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x400g.json
Due: azure-pipelines.yml

[Build] Fix the dash cache dependency issue (#15851)
  rules/sonic-dash-api.dep
Due: azure-pipelines.yml

[Build] Fix the PyYang python package installation issue (#15890) (#15904)
  build_debian.sh
  dockers/docker-config-engine-buster/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[sonic-mgmt docker image] Upgrade celery in the python3 to 5.2.7, upgrade ipython to 8.12.2 (#15911)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: azure-pipelines.yml

Upgrade scapy in the PTF's python3 virtualenv to 2.5.0 (#15573)
  dockers/docker-ptf/Dockerfile.j2
Due: azure-pipelines.yml

[k8s]: Bypass the systemd service restart limit and do immediately restart when change to local mode (#15432)
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
Due: azure-pipelines.yml

Update WRED profile on system ports (#15612) (#15914)
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x400g.json
Due: azure-pipelines.yml

Add support for deb build profiles env variable (#15858)
  rules/sairedis.mk
  rules/swss-common.mk
  rules/syncd.mk
  slave.mk
Due: azure-pipelines.yml

DellEMC: S5248F update LED Firmware (#15790)
  device/dell/x86_64-dellemc_s5248f_c3538-r0/DellEMC-S5248f-P-10G/custom_led.bin
  device/dell/x86_64-dellemc_s5248f_c3538-r0/DellEMC-S5248f-P-10G/td3-s5248f-10g.config.bcm
  device/dell/x86_64-dellemc_s5248f_c3538-r0/DellEMC-S5248f-P-25G/custom_led.bin
  device/dell/x86_64-dellemc_s5248f_c3538-r0/DellEMC-S5248f-P-25G/td3-s5248f-25g.config.bcm
  device/dell/x86_64-dellemc_s5248f_c3538-r0/port-locator.soc
Due: azure-pipelines.yml

DellEMC: Fix API2.0 initialization issue (#15687)
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/fan.py
Due: azure-pipelines.yml

[YANG] add yang model for `MUX_LINKMGR|MUXLOGGER` (#15884)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Due: azure-pipelines.yml

Add BGP configuration for BGPSentinel peer (#15714)
  dockers/docker-fpm-frr/frr/bgpd/templates/sentinels/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/sentinels/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/sentinels/policies.conf.j2
  files/image_config/constants/constants.yml
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/tests/data/sentinels/instance.conf/param_all_v4.json
  src/sonic-bgpcfgd/tests/data/sentinels/instance.conf/param_all_v6.json
  src/sonic-bgpcfgd/tests/data/sentinels/instance.conf/result_all_v4.conf
  src/sonic-bgpcfgd/tests/data/sentinels/instance.conf/result_all_v6.conf
  src/sonic-bgpcfgd/tests/data/sentinels/peer-group.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/sentinels/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/sentinels/policies.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/sentinels/policies.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/sentinels/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/sentinels/policies.conf/result_base.conf
  src/sonic-bgpcfgd/tests/test_templates.py
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp.json
  src/sonic-yang-models/yang-models/sonic-bgp-sentinel.yang
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
