Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - ${{ each arch in parameters.arches }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Disable brackted-paste mode off by default (#12285)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/readline/inputrc
Due: azure-pipelines.yml

Fix sonic-config low dpkg hit rate issue (#12244)
  rules/sonic-config.dep
Due: azure-pipelines.yml

[202205][Arista] Fix content of platform.json for DCS-7050CX3-32S (#12265)
  device/arista/x86_64-arista_7050cx3_32s/platform.json
  device/arista/x86_64-arista_7050cx3_32s/platform_components.json
Due: azure-pipelines.yml

[auto-ts] add memory check (#10433) (#12291)
  files/build_templates/init_cfg.json.j2
  files/image_config/monit/conf.d/sonic-host
  src/sonic-yang-models/tests/yang_model_tests/tests/auto_techsupport.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/auto_techsupport.json
  src/sonic-yang-models/yang-models/sonic-auto_techsupport.yang
Due: azure-pipelines.yml

[armhf][sonic-installer] Fix the sonic-installer install images on armhf platform issue (#12284)
  platform/marvell-armhf/platform.conf
Due: azure-pipelines.yml

iccpd bullseye migration (#12097)
  dockers/docker-iccpd/Dockerfile.j2
  rules/docker-iccpd.mk
Due: azure-pipelines.yml

[RDMA] create split profiles for Arista-7050CX3-32S (#12228)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/qos.json.j2
Due: azure-pipelines.yml

[device/mellanox] Mitigation for security vulnerability (#11877)
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/thermalutil.py
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_fan_api.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
Due: azure-pipelines.yml

Update debootstrap to 1.0.123+deb11u1 (#12294)
  rules/debootstrap.mk
Due: azure-pipelines.yml

[202012][BRCMSAI] 4.3.7.1-2 to back out a change that broke 4.3.7.1-1 (#12298)
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[device/centec] Replace os.system and remove subprocess with shell=True (#12024)
  device/centec/arm64-centec_e530_24x2c-r0/platform_reboot
  device/centec/arm64-centec_e530_24x2q-r0/platform_reboot
  device/centec/arm64-centec_e530_48s4x-r0/platform_reboot
  device/centec/arm64-centec_e530_48t4x_p-r0/platform_reboot
  device/centec/x86_64-centec_v682_48x8c-r0/platform_reboot
  device/centec/x86_64-centec_v682_48x8c-r0/plugins/led_control.py
  device/centec/x86_64-centec_v682_48x8c-r0/plugins/psuutil.py
  device/centec/x86_64-centec_v682_48y8c-r0/platform_reboot
  device/centec/x86_64-centec_v682_48y8c-r0/plugins/led_control.py
  device/centec/x86_64-centec_v682_48y8c-r0/plugins/psuutil.py
  device/centec/x86_64-ew_es6220_x48q2h4-r0/plugins/psuutil.py
  device/centec/x86_64-ew_es6220_x48q2h4-r0/plugins/sfputil.py
Due: azure-pipelines.yml

[minigraph] Remove SLB and bgp monitor peers for storage backend (#12251)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12302)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12324)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Due: azure-pipelines.yml

Add Structured Events w/ YANG Models (#12270)
  dockers/docker-fpm-frr/bgp_regex.json
  files/build_templates/dhcp_relay_regex.json
  files/build_templates/dockerd_regex.json
  files/build_templates/events_info.json
  files/build_templates/kernel_regex.json
  files/build_templates/seu_regex.json
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/syncd_regex.json
  files/build_templates/systemd_regex.json
  files/image_config/monit/container_checker
  src/dhcpmon/src/dhcp_mon.cpp
Due: azure-pipelines.yml

Add storage blob related packages (#12220)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: azure-pipelines.yml

[actions] Add auto cherry-pick actions to release branch (#11496)
  .github/workflows/README.md
  .github/workflows/pr_cherrypick_poststep.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[action] Fix trigger issue in PR pre-cherry-pick action. (#12333)
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[actions] Add auto cherry-pick actions to release branch (#11496) (#12335)
  .github/workflows/README.md
  .github/workflows/pr_cherrypick_poststep.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[actions] Add auto cherry-pick actions to release branch (#11496) (#12336)
  .github/workflows/README.md
  .github/workflows/pr_cherrypick_poststep.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[actions] Add auto cherry-pick actions to release branch (#11496) (#12337)
  .github/workflows/README.md
  .github/workflows/pr_cherrypick_poststep.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[actions] Add auto cherry-pick actions to release branch (#11496) (#12338)
  .github/workflows/README.md
  .github/workflows/pr_cherrypick_poststep.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[ci] Update docker sonic slave pipeline to build slave base docker (#11908) (#12340)
  .azure-pipelines/docker-sonic-slave-arm64.yml
  .azure-pipelines/docker-sonic-slave-armhf.yml
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[broadcom] Replace popen function (#12106)
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/utils/brcm-xlr-gts-create-eeprom-file.py
Due: azure-pipelines.yml

Add gearbox taps to vs gearbox_config.json (#11480)
  device/virtual/x86_64-kvm_x86_64-r0/brcm_gearbox_vs/gearbox_config.json
Due: azure-pipelines.yml

[202012] [minigraph] Remove SLB and bgp monitor peers for storage backend (#12262)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#12283)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Due: azure-pipelines.yml

[Build][Bug] Fix apt-get remove version not lock issue (#12193)
  src/sonic-build-hooks/hooks/apt-get
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[BFN] Reworked BFN platform thermals plugin (#11723)
  device/barefoot/x86_64-accton_as9516_32d-r0/platform.json
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/platform.json
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/platform.json
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/platform_components.json
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/thermal_thresholds.json
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/component.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/psu.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/sfp.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/thermal.py
Due: azure-pipelines.yml

[Nokia] Update Nokia platform IXR7250E device data (#11611)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_components.template
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_ndk.json
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/platform.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/platform_components.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_ndk.json
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, .azure-pipelines
  azure-pipelines.yml: any file but: .github
