Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[Mellanox] Update SAI to v2305.24.0.1 (#15208)
  platform/mellanox/mlnx-sai.mk
Due: azure-pipelines.yml

[healthd] Use unix_socket_path instead of loopback ip (#14843)
  src/system-health/health_checker/hardware_checker.py
  src/system-health/health_checker/service_checker.py
  src/system-health/health_checker/sysmonitor.py
  src/system-health/scripts/healthd
  src/system-health/tests/mock_connector.py
Due: azure-pipelines.yml

[202205][minigraph] Add rack_mgmt_rack parse support in minigraph.py (#15064) (#15177)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Due: azure-pipelines.yml

SONiC Yang model support for IPv6 link local (#15182)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Due: azure-pipelines.yml

Add soc property sai_pfc_dlr_init_capability=0 to missing DNX SKUs (#15155)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Due: azure-pipelines.yml

Update cisco-8000.ini (#15200)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

[YANG] Add MgmtLeafRouter to Device Neighbor Metadata element type list (#15202) (#15231)
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Due: azure-pipelines.yml

Clean up the old version container images (#14978) (#15232)
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

[202205] Update SOC properties for DLR_INIT based pfcwd recovery (#15217)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-config-engine/tests/data/j2_template/config.bcm.j2
  src/sonic-config-engine/tests/sample_output/py3/arista7050cx3-dualtor.config.bcm
  src/sonic-config-engine/tests/sample_output/py3/arista7260-dualtor.config.bcm
  src/sonic-config-engine/tests/sample_output/py3/arista7260-t1.config.bcm
Due: azure-pipelines.yml

[master]staticroutebfd process implementation (#13789)
  dockers/docker-fpm-frr/frr/supervisord/critical_processes.j2
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/setup.py
  src/sonic-bgpcfgd/staticroutebfd/__init__.py
  src/sonic-bgpcfgd/staticroutebfd/main.py
  src/sonic-bgpcfgd/staticroutebfd/vars.py
  src/sonic-bgpcfgd/tests/test_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt_bfd.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15243)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15244)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-arm64
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-armhf
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15245)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Change the docker image from alpine to debian in Makefile (#15132)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[YANG] Add MgmtLeafRouter to Device Neighbor Metadata element type list (#15202)
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Due: azure-pipelines.yml

[healthd] Use unix_socket_path instead of loopback ip (#14843) (#15249)
  src/system-health/health_checker/hardware_checker.py
  src/system-health/health_checker/service_checker.py
  src/system-health/health_checker/sysmonitor.py
  src/system-health/scripts/healthd
  src/system-health/tests/mock_connector.py
Due: azure-pipelines.yml

[Mellanox] Facilitate automatic integration of sdk kernel patches (#14652)
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/sdk_kernel_patches.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
  platform/mellanox/integration-scripts/tests/test_sdkaction.py
  platform/mellanox/sdk-src/sx-kernel/Makefile
  platform/mellanox/sdk.mk
Due: azure-pipelines.yml

[system-health] When disabling a feature the SYSTEM_READY|SYSTEM_STATE was not updated (#14823)
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/mock_connector.py
  src/system-health/tests/test_system_health.py
Due: azure-pipelines.yml

Clean up the old version container images (#14978)
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

[qos] Update RDMA-CENTRIC lossy profile to use static threshold for Th devices (#14372)
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t1.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t1.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffers-dell6100.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-dell6100.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

Fix for fast/cold-boot: call db_migrator only after old config is loaded (#14933)
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Due: azure-pipelines.yml

[TACACS] Stop authorization after user being rejected by server. (#14249)
  src/tacacs/nss/patch/0001-Modify-user-map-profile.patch
Due: azure-pipelines.yml

[202205][brcm] Fix alignment of soc properties (#15240)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-config-engine/tests/data/j2_template/config.bcm.j2
  src/sonic-config-engine/tests/sample_output/py3/arista7050cx3-dualtor.config.bcm
  src/sonic-config-engine/tests/sample_output/py3/arista7260-dualtor.config.bcm
  src/sonic-config-engine/tests/sample_output/py3/arista7260-t1.config.bcm
Due: azure-pipelines.yml

[CI/CD] Refine PR test templates and test_plan.py to be ready to migrate to Elastictest (#15259)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine PR test templates and test_plan.py to be ready to migrate to Elastictest (#15258)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine PR test templates and test_plan.py to be ready to migrate to Elastictest (#15256)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[CI/CD] Refine PR test templates and test_plan.py to be ready to migrate to Elastictest (#15257)
  .azure-pipelines/run-test-scheduler-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Mellanox] Update hw-mgmt to 7.0020.4301 (#15260)
  platform/mellanox/hw-management.mk
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
