Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github

[yang] Extend device_metadata yang model with rack_mgmt_map (#15109)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Due: azure-pipelines.yml

[202205][yang] Extend device_metadata yang model with rack_mgmt_map (#15140)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Due: azure-pipelines.yml

Clean up the old version container images (#14978)
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: azure-pipelines.yml

[minigraph]: Enhancement to minigraph parsing for chassis/multi-asic use case (#14243)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/mock_tables/asic4/database_config.json
  src/sonic-config-engine/tests/mock_tables/database_global.json
  src/sonic-config-engine/tests/multi_npu_data/sample_port_config-4.ini
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Due: azure-pipelines.yml

Change the docker image from alpine to debian in Makefile (#15132)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[pddf]: Adding and enabling S3IP support in PDDF (#15073)
  platform/pddf/i2c/service/pddf-s3ip-init.service
  platform/pddf/i2c/utils/pddf_s3ip.py
  platform/pddf/i2c/utils/pddf_util.py
Due: azure-pipelines.yml

[pddf]: Adding S3IP supported attribute for LEDs in PDDF (#15074)
  platform/pddf/i2c/modules/include/pddf_led_defs.h
  platform/pddf/i2c/modules/led/pddf_led_module.c
Due: azure-pipelines.yml

[pddf]: Adding S3IP supported attribute for FAN in PDDF (#15075)
  platform/pddf/i2c/modules/fan/driver/pddf_fan_api.c
  platform/pddf/i2c/modules/fan/driver/pddf_fan_driver.c
  platform/pddf/i2c/modules/include/pddf_fan_api.h
  platform/pddf/i2c/modules/include/pddf_fan_defs.h
  platform/pddf/i2c/modules/include/pddf_fan_driver.h
Due: azure-pipelines.yml

[Arista] Fix boot0 code for docker_inram
  build_image.sh
  files/Aboot/boot0.j2
Due: azure-pipelines.yml

Add optional zram compression for docker_inram
  files/Aboot/boot0.j2
  files/initramfs-tools/modules
  files/initramfs-tools/union-mount.j2
Due: azure-pipelines.yml

Clear /etc/resolv.conf before building image (#12592) (#15104)
  build_debian.sh
  files/image_config/resolv-config/resolv.conf
Due: azure-pipelines.yml

[Yang model] Add Yang models for VNET table. (#14873)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vnet.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vnet.json
  src/sonic-yang-models/yang-models/sonic-vnet.yang
Due: azure-pipelines.yml

Add Yang model for SYSTEM_DEFAULTS table (#15129)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/system_defaults.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/system_defaults.json
  src/sonic-yang-models/yang-models/sonic-system-defaults.yang
Due: azure-pipelines.yml

[ci] Fix pipeline error caused by qemuOrCrossBuild missing. (#15139)
  .azure-pipelines/azure-pipelines-build.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[Build] update python package docker in host image to 6.1.1 (#14993)
  build_debian.sh
Due: azure-pipelines.yml

[Build] Fix the mirror gpg key expired issue (#14206)
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/no-check-valid-until
Due: azure-pipelines.yml

[build]: Force xz as compression type when building sonic-build-hooks debs (#12823)
  src/sonic-build-hooks/Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Update PG headroom settings ports based on port speed/cable length (#14908)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/buffers_defaults_t2.j2
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample-arista-7800r3-48cqm2-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/test_j2files.py
Due: azure-pipelines.yml

[minigraph.py]: Updated Static Route Minigraph Attribute property (#14951)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
Due: azure-pipelines.yml

[build][201811] Remove compression of raw image (#15154)
  build_image.sh
Due: azure-pipelines.yml

[build][201811] Increase raw image disk size to 1216MB (#15153)
  onie-image.conf
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15166)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[minigraph] Add rack_mgmt_rack parse support in minigraph.py (#15064)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Due: azure-pipelines.yml

[build] update isc-dhcp to 4.4.1-2.3+deb11u2 to fix build failure (#15002) (#15171)
  rules/isc-dhcp.mk
  src/isc-dhcp/Makefile
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15174)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#15175)
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml
