Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[ci] Fix docker sonic slave tag issue. (#13179)
  .azure-pipelines/docker-sonic-slave-template.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177) (#13186)
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177) (#13187)
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13188)
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[202205][dhcp_relay]Fix the clear dhcp6relay_counters CLI (#13148) (#13181)
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13194)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13149)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

add Tunnel yang model (#12232)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/tunnel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/tunnel.json
  src/sonic-yang-models/yang-models/sonic-tunnel.yang
Due: azure-pipelines.yml

[Build] Support j2 template for debian sources (#12557) (#13185)
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-bullseye/Dockerfile.j2
  dockers/docker-base-bullseye/sources.list
  dockers/docker-base-bullseye/sources.list.arm64
  dockers/docker-base-bullseye/sources.list.armhf
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  scripts/build_mirror_config.sh
  scripts/prepare_docker_buildinfo.sh
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Support j2 template for debian sources for docker ptf (#13198)
  dockers/docker-ptf/Dockerfile.j2
  scripts/prepare_docker_buildinfo.sh
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13209)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

The LED and watchdog driver framework module complies with s3ip sysfs specification (#12892) (#13217)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/sysled_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/watchdog_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/sysled_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/watchdog_sysfs.c
Due: azure-pipelines.yml

The Transceiver driver framework module complies with s3ip sysfs specification (#12889) (#13220)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/transceiver_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/transceiver_sysfs.c
Due: azure-pipelines.yml

The Sensor driver framework module complies with s3ip sysfs specification (#12890) (#13219)
  platform/s3ip-sysfs/s3ip_sysfs_frame/curr_sensor_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/curr_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/temp_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/vol_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/temp_sensor_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/vol_sensor_sysfs.c
Due: azure-pipelines.yml

The slot and switch_rootsysfs driver framework module complies with s3ip sysfs specification (#12893) (#13216)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/slot_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/switch.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/syseeprom_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/slot_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/switch.c
Due: azure-pipelines.yml

The PSU driver module complies with s3ip sysfs specification (#12887) (#13211)
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/psu_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/psu_sysfs.c
Due: azure-pipelines.yml

The build project of s3ip frameworkk (#12896) (#13213)
  platform/s3ip-sysfs/Makefile
  platform/s3ip-sysfs/build.sh
  platform/s3ip-sysfs/debian/.debhelper/generated/s3ip-sysfs/installed-by-dh_installdocs
  platform/s3ip-sysfs/debian/README.Debian
  platform/s3ip-sysfs/debian/changelog
  platform/s3ip-sysfs/debian/compat
  platform/s3ip-sysfs/debian/control
  platform/s3ip-sysfs/debian/copyright
  platform/s3ip-sysfs/debian/files
  platform/s3ip-sysfs/debian/rules
  platform/s3ip-sysfs/debian/s3ip-sysfs.postinst
  platform/s3ip-sysfs/debian/s3ip-sysfs.prerm
  platform/s3ip-sysfs/debian/s3ip-sysfs.substvars
  platform/s3ip-sysfs/debian/watch
  platform/s3ip-sysfs/demo_driver/Makefile
  platform/s3ip-sysfs/s3ip_sysfs_frame/Makefile
Due: azure-pipelines.yml

The CPLD and FPGA driver framework module complies with s3ip sysfs specification (#12891) (#13218)
  platform/s3ip-sysfs/s3ip_sysfs_frame/cpld_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/fpga_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/cpld_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/fpga_sysfs.h
Due: azure-pipelines.yml

The demo driver complies with s3ip sysfs specification,which use the s3ip kernel framework (#12895) (#13214)
  platform/s3ip-sysfs/demo_driver/cpld_device_driver.c
  platform/s3ip-sysfs/demo_driver/curr_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/fan_device_driver.c
  platform/s3ip-sysfs/demo_driver/fpga_device_driver.c
  platform/s3ip-sysfs/demo_driver/include/device_driver_common.h
  platform/s3ip-sysfs/demo_driver/psu_device_driver.c
  platform/s3ip-sysfs/demo_driver/slot_device_driver.c
  platform/s3ip-sysfs/demo_driver/syseeprom_device_driver.c
  platform/s3ip-sysfs/demo_driver/sysled_device_driver.c
  platform/s3ip-sysfs/demo_driver/temp_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/transceiver_device_driver.c
  platform/s3ip-sysfs/demo_driver/vol_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/watchdog_device_driver.c
Due: azure-pipelines.yml

The user framework module complies with s3ip sysfs specification (#12894) (#13215)
  platform/s3ip-sysfs/scripts/s3ip-sysfs.service
  platform/s3ip-sysfs/scripts/s3ip_load.py
  platform/s3ip-sysfs/scripts/s3ip_sysfs_conf.json
  platform/s3ip-sysfs/scripts/s3ip_sysfs_tool.sh
Due: azure-pipelines.yml

[SAIServer]Upgrade SAI server init script (#13175)
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/saiserver_start.sh
  platform/broadcom/docker-saiserver-brcm/start.sh
  platform/broadcom/docker-saiserver-brcm/supervisord.conf
Due: azure-pipelines.yml

[Chassis][Voq]update to add buffer_queue config on system ports (#12156)
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
Due: azure-pipelines.yml

[cisco]: Update cisco-8000.ini (#13182)
  platform/checkout/cisco-8000.ini
Due: azure-pipelines.yml

[202012] [dhcpv6_relay] Fix dependency of dhcp-mon on VLAN with only v6 cfg is provided (#13006) (#13040)
  dockers/docker-dhcp-relay/dhcp-relay.monitors.j2
Due: azure-pipelines.yml

[Cherry-pick][SAIServer]Upgrade SAI server init script (#13175) (#13226)
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/saiserver_start.sh
  platform/broadcom/docker-saiserver-brcm/start.sh
  platform/broadcom/docker-saiserver-brcm/supervisord.conf
Due: azure-pipelines.yml

[SAIServer]Upgrade SAI server init script (#13175) (#13227)
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/saiserver_start.sh
  platform/broadcom/docker-saiserver-brcm/start.sh
  platform/broadcom/docker-saiserver-brcm/supervisord.conf
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#13221)
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Add DASH yang (#13078)
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dash.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dash.json
  src/sonic-yang-models/yang-models/sonic-dash.yang
Due: azure-pipelines.yml

[centec]: reference to v1.11.0-1 sai debian package for master (#13206)
  platform/centec-arm64/sai.mk
  platform/centec/sdk.mk
Due: azure-pipelines.yml

[gns3]: modify SONiC VS image name (#13136)
  platform/vs/sonic-gns3a.sh
Due: azure-pipelines.yml

[build] fix CI warnings issued by "git describe" (#13098)
  functions.sh
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
