Repository edge-core/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave-armhf.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[image_config] add rasdaemon.timer (#14300)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/rasdaemon/rasdaemon.timer
Due: azure-pipelines.yml

Updated Bradcom SAI3.7 Debian package. (#14689)
  platform/broadcom/sai.mk
Due: azure-pipelines.yml

[armhf][Nokia-7215]Add SFP refactor support for Nokia-7215 platform (#14551)
  device/nokia/armhf-nokia_ixs7215_52x-r0/platform.json
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Due: azure-pipelines.yml

[202205] Always use the openssl backend of curl (#14351) (#14535)
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Support to add SONiC OS Version in device info (#14601) (#14624)
  Makefile.work
  build_debian.sh
  files/build_templates/sonic_version.yml.j2
  platform/vs/sonic-version.mk
  rules/config
  slave.mk
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build] Optimize the version control for Debian packages (#14557) (#14611)
  Makefile.work
  scripts/prepare_docker_buildinfo.sh
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[Build][202106] Support Debian snapshot mirror to improve build stability (#14663)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  dockers/docker-ptf/Dockerfile.j2
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/versions_manager.py
  slave.mk
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[image_config] add rasdaemon.timer (#14300) (#14692)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/rasdaemon/rasdaemon.timer
Due: azure-pipelines.yml

[Fast-boot] Clear teamd-timer when finalizing fast-reboot (#14583)
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Due: azure-pipelines.yml

[Build][202111] Support Debian snapshot mirror to improve build stability (#14664)
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  dockers/docker-ptf/Dockerfile.j2
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/versions_manager.py
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Due: .azure-pipelines/docker-sonic-slave-armhf.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

chassis-packet: resolve the missing static routes (#14593)
  files/build_templates/arp_update_vars.j2
  files/scripts/arp_update
Due: azure-pipelines.yml

[write standby] force DB connections to use unix socket to connect (#14524) (#14553)
  files/scripts/write_standby.py
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[sflow] Exception handling for if_nametoindex (#11437) (#14456)
  dockers/docker-sflow/port_index_mapper.py
Due: azure-pipelines.yml

Update telemetry.sh with threshold config (#14615)
  dockers/docker-sonic-telemetry/telemetry.sh
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-web
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-web
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-web
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-web
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

Remove default value from SECURE_UPGRADE_DEV_SIGNING_KEY (#14582)
  rules/config
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-web
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-web
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[minigraph] add support for changing T1 ports speed from 400G to 100G and vice-versa (#14505)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-cisco-8101-t1-100-minigraph.xml
  src/sonic-config-engine/tests/sample-cisco-8101-t1-400-minigraph.xml
  src/sonic-config-engine/tests/sample-cisco-8101-t1-port-config.ini
  src/sonic-config-engine/tests/test_cfggen.py
Due: azure-pipelines.yml

Add teamd patches to solve traffic loss issue when removing port from LAG (#14002)
  src/libteam/patch/0013-set-port-to-disabled-state-during-removal.patch
  src/libteam/patch/0014-dont-move-the-port-state-from-disabled-when-admin-state-is-down.patch
  src/libteam/patch/series
Due: azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14718)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14720)
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14719)
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#14721)
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines.yml

change static rt expiry timer max value (#14397)
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Due: azure-pipelines.yml

Add monit_snmp file to monitor memory usage (#14464) (#14730)
  dockers/docker-snmp/base_image_files/monit_snmp
  rules/docker-snmp.mk
Due: azure-pipelines.yml

Increase wait_for_tunnel() timeout to 90s (#14279) (#14733)
  files/scripts/write_standby.py
Due: azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave-armhf.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, src/sonic-build-hooks, files/build/versions, Makefile, Makefile.work
  azure-pipelines.yml: any file but: .github
